{% import "_macros" as macros %}

{#
    add a button to trigger this modal:
    <button
        data-toggle="modal"
        data-target="#yumply-sample-modal"
    >Sample Modal</button>

    don't forget to include this page with the button
 #}

{% set modalBody %}
    <div class="sample-modal-body">
        <p>You can put anything here at modal body!</p>
    </div>
{% endset %}

{% set modalFooter %}
    <p style="width: 100%">You can put anything here at footer</p>
    <button class="btn btn-primary">First button</button>
    <button class="btn btn-secondary">Second button</button>
{% endset %}

{# all the attributes can be skipped, here is a simplest version of modal #}
{#{{ macros.modal ({#}
{#    id: "yumply-sample-modal",#}
{#}) }}#}

{{ macros.modal({
    id: "yumply-sample-modal",
    header: "Set any title",
    headerTag: "h2",
    body: modalBody,
    footer: modalFooter,
    extraClasses: "sample-modal",
    modalExtraClasses: "modal-lg",
    modalExtraAttributes: ""
}) }}

{# if your modal have a form in it and needs to popup the modal when form errors, do the following #}
{#{% set formId = 1 %}#}{# set your form id #}
{#{% set form = craft.freeform.form(formId) %}#}
{#{% if form is defined and form.hasErrors() %}#}
{#    {% js at endBody %}#}
{#        $("#yumply-sample-modal").modal("show");#}
{#    {% endjs %}#}
{#{% endif %}#}
