{# Banner can be seen as a extend of the richMedia block. (_content-blocks/rich-media.html)
	1. Banner is set up in src\styles\base\design-system-components\_ds-banner.scss and extended into banner.scss and rich-media.scss, if you want changes to apply to both - update ds-banner.scss
	2. Banner allows text-only version (simple-banner), but rich media requires 1 media column and 1 text column
#}

{% import '_macros' as macros %}

{% set modifier = ' ' ~ modifier ?? '' %}

{% if entry is defined and entry and custom is not defined %}

	{% set banner = craft.yump.getBanner(entry) %}
	{%- if banner -%}
		{% set bgImage = '' %}
		{% if banner.bgImage %}
			{% set bgImage = 'style="background-image: url(' ~ banner.bgImage.url ~ ');"'%}
		{% endif %}
		<section id="main_banner" class="banner {{ banner.variationClasses }}{{modifier}} {{ banner.keepBannerRatio }}" {{ bgImage | raw }}>
			
			<div
				class="banner__row">
				{# text column #}
				<div class="banner__column banner__column--text">
					<div class="banner__text-content-wrap">
						{% if banner.icon %}
							{{ macros.svg({
								icon: banner.icon,
								attributes: {'class': 'banner__icon'}
							}) }}
						{% endif %}	
						{% set textColor = '' %}
						{% if banner.textColor %}
							{% set textColor = 'style=color:' ~ banner.textColor ~ ';' %}
						{% endif %}
						<h1 class="banner__text-content-heading" {{ textColor }}>{{ banner.heading }}</h1>

						{% if banner.summary %}
							<div class="banner__text-content-summary" {{ textColor }}>{{ banner.summary }}</div>
						{% endif %}

						{% if banner.buttons %}
							<div class="banner__text-content-ctas">
								{% for button in banner.buttons %}
									{{ macros.cta({
									    field: button,
										style: 'trans-white',
									    additionalClasses: 'button--large banner__text-content-cta',
									}) }}
								{% endfor %}
							</div>
						{% endif %}

					</div>
				</div>

				{# media column #}
				{%- if banner.media -%}
					<div class="banner__column banner__column--media">
						{% if banner.media.type == 'image' %}
							{% set image = banner.media.content %}
							<figure class="banner__media banner__media--image">
								{{ macros.thumbnail({ image: image, imagerSettings: { width: 1600 }, additionalClasses: 'banner__img' }) }}
							</figure>
						{% elseif banner.media.type == 'video' %}
							<div class="banner__media banner__media--video">
								{{ macros.video({
								    field: banner.media.content,
								    transcriptEntry: banner.media.settings.transcriptEntry,
								    videoHtmlTitle: banner.media.settings.videoHtmlTitle,
								}) }}
							</div>
						{% endif %}
					</div>
				{%- endif -%}
			</div>
		</section>
	{%- endif -%}

{% elseif customTitle is defined and customTitle %}
	{% set modifier = ' ' ~ modifier ?? '' %}
	<section id="main_banner" class="banner banner--simple {{-modifier-}}">
		<div class="banner__row">
			<div class="banner__text-content-wrap">
				<h1 class="banner__text-content-heading">{{ customTitle }}</h1>

				{% if customSummary is defined %}
					<div class="banner__text-content-summary">{{ customSummary }}</div>
				{% endif %}

			</div>
		</div>
	</section>
{% endif %}
