{#
    Every parent template which include this one should have the crumbs array prepared. Do not rely on this template to do if and else checks.

    Format of the crumbs array should look something like this:
    [
        [
            'text' => 'Home',
            'url' => '/',
        ],
        [
            'text' => 'About',
            'url' => '/about',
            'isParent' => true, // flag as the parent (used for mobile)
        ],
        [
            'text' => 'Team Members',
            // this is the current entry, which do not have the url supplied.
        ],
    ]

    IMPORTANT: A reminder of the breadcrumbs rules in our design system:
    * Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
    * On mobile, it's just gonna be a back button to the parent page.
    * Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumbs 
#}

{% set wrapperClass = variation is defined and variation ? 'breadcrumbs ' ~ variation : 'breadcrumbs' %}
{% set articleWidth = articleWidth ?? false %}
{% if custom is defined and custom %}
	{% set crumbs = custom %}
{% endif %}

{% if articleWidth %}
<section class="main__container main__container--crumbs container">
	<div class="main__row">
		<div class="main__articled-box">

{% endif %}

			<nav class="{{wrapperClass}}">

				<div class="breadcrumbs__container">

					<div class="breadcrumbs__row">

						{# Mobile crumbs #}
						{% set parent = null %}
						{% for crumb in crumbs %}
							{% if crumb.isParent is defined and crumb.isParent %}
								{% set parent = crumb %}
							{% endif %}
						{% endfor %}
						{% if parent %}
							{# There could be very rare cases that the parent is actually a linkOnly entry. In that case, we assume it will still link to an internal entry so we don't do the target thing. Otherwise it doesn't make sense for an external link to have children entries. #}
							<a class="breadcrumbs__mobile-item" href="{{ parent.url }}">
								{{ svg('@webroot/assets/img/svg/chevron-right.svg') }}
								<span class="breadcrumbs__mobile-item-text">Back to
									{{ parent.text }}</span>
							</a>
						{% endif %}

						{# Desktop crumbs #}
						<ol class="breadcrumbs__crumb-list">
							{% for crumb in crumbs %}
								<li class="breadcrumbs__item">
									{%- if crumb.url is defined and crumb.url -%}
										<a class="breadcrumbs__item-link button button--link" {% if crumb.target is defined and crumb.target %} target="{{ crumb.target }}" {% endif %} href="{{ crumb.url }}">
										{%- endif -%}
										<span class="breadcrumbs__item-text">
											{% if crumb.icon is defined and crumb.icon %}
												{{ svg('@webroot/assets/img/svg/ic-breadcrumb-home.svg') }}
											{% else %}
												{{- crumb.text -}}
											{% endif %}
										</span>
										{%- if crumb.url is defined and crumb.url -%}
										</a>
									{%- endif -%}
								</li>

								{# Assuming the last item shouldn't need the separator after it #}
								{% if not loop.last %}
									<li class="breadcrumbs__item-separator">
										{{ svg('@webroot/assets/img/svg/ic-caret-right.svg') }}
									</li>
								{% endif %}

							{% endfor %}
						</ol>
					</div>

				</div>

			</nav>

{% if articleWidth %}
		</div>
	</div>
</section>

{% endif %}
