<div class="main__container">
	{% set autoChildListTitle = entry.automatedChildrenPagesListTitle ? entry.automatedChildrenPagesListTitle|trim : null %}
	{% include '_elements/section-head' with {
		sectionHeading: autoChildListTitle,
		objHandle: 'cards',
	} only %}
	<div class="matrix-block matrix-block--imageCards">
		{% include '_content-blocks/partials/cards' with {
			cards: entry.getChildren(),
			additionalClasses: 'cards__child-pages'
		} only %}
	</div>
</div>
