{% import "_macros" as macros %}
<footer class="footer">

	<div class="footer__main-wrap">
		<div class="footer__main">
			<div class="footer__logo">
				<a href="/" class="footer__logo-link">
					{% set footerLogo = craft.app.sites.currentSite() and craft.app.sites.currentSite().handle == "default" ? "/assets/img/png/logo-footer.png" : seomatic.site.identity.genericImage %}
					<img class="footer__logo-img" src="{{ footerLogo }}" alt="{{seomatic.site.siteName ~ ' logo'}}">
				</a>
			</div>
			{% set footerBottomLinks = generalSettings.footerBottomLinks.all() %}
			{% if footerBottomLinks|length %}
				<div class="footer__bottom-links">
					{% for footerBottomLinkBlock in footerBottomLinks %}
						{% set footerBottomLink = footerBottomLinkBlock.linkField %}
						{% if footerBottomLink.getUrl() %}
							<a href="{{ footerBottomLink.getUrl() }}" class="footer__bottom-link" target="{{ footerBottomLink.getTarget() ?? '_self' }}">{{ footerBottomLink.getText() }}</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

			<div class="footer__translate">
				<div class="footer__translate-text-wrap">
					{{ svg('@webroot/assets/img/svg/ic-translate.svg')|attr({
						class: 'footer__translate-icon'
					}) }}
					<span class="footer__translate-text">Translate this website</span>
				</div>
				<div id="google_translate_element"></div>
			</div>

			<div class="footer__copy-acknowledge">
				<span class="footer__copyright">
					© KU Children's Services
					{{ 'now' | date('Y') }}
				</span>
				<div class="footer__yump">
					<span class="footer__yump-text">Website by</span>
					<a class="footer__yump-link" target="_blank" href="https://yump.com.au">
						{{ svg('@webroot/assets/img/svg/yump-logo-black.svg') }}
					</a>
				</div>
			</div>

			<div class="back-to-top">
				<button class="button button--reverse back-to-top__button">
					<span class="button__text">Back to top</span>
					<figure class="button__append">
						{{ svg('@webroot/assets/img/svg/ic-back-to-top.svg')|attr({
							class: 'button__icon'
						}) }}
					</figure>
				</button>
			</div>

		</div>
	</div>
	{% set fa = generalSettings.footerAcknowledgement.all() %}
	<div class="footer__small-print">
		{% for faItem in fa %}
			{% if faItem.type.handle == 'columnOne' %}
				<div class="footer__ack-one">
					{{faItem.textContent}}
				</div>
			{% else %}
				<div class="footer__ack-two">
					{% if faItem.image is defined and faItem.image %}
						{% set image = faItem.image.one() %}
						<div class="footer__ack-two-image-wrap">
							{{ macros.thumbnail({
								image: image,
								imagerSettings: {width: 56, height: 56},
								altTag: image.title is defined and image.title ? image.title : '',
								additionalClasses: 'footer__ack-two-image'
							}) }}
						</div>
						<div class="footer__ack-two-text">
							{{faItem.textContent}}
						</div>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

</footer>
