{% set siteVars = seomatic.site %}
{% set sameAsLinks = siteVars.sameAsLinks %}

{% set activeSocialMediaIcons = craft.yump.getConfig('activeSocialMediaIcons') %}

{% set facebookUrl = sameAsLinks.facebook.url ?? null %}
{% set twitterUrl = sameAsLinks.twitter.url ?? null %}
{% set youtubeUrl = sameAsLinks.youtube.url ?? null %}
{% set instagramUrl = sameAsLinks.instagram.url ?? null %}
{% set linkedinUrl = sameAsLinks.linkedin.url ?? null %}

<div class="social-links">
	{% if customHeading is defined and customHeading %}
		<h4 class="social-links__heading">{{ customHeading }}</h4>
	{% endif %}
	<div class="social-links__wrap">
		{% for icon in activeSocialMediaIcons %}
			{% set url = sameAsLinks[icon.handle].url ?? null %}
			{% if url %}
				<a class="social-links__link {{ customClasses | default(" ") }}" aria-label="Visit our {{ icon.handle }} web page" href="{{ url }}" target="_blank">
					{% if icon.useFontAwesome %}
						{# need to load script from C:\wamp64\www\yumply\templates\_layouts\bootstrap\fundamental-js-libraries.html if you want to use FA icons #}
						<i class="social-links__icon fab fa-{{ icon.fontAwesomeClass }}"></i>

					{% else %}
						{{ svg('@webroot/assets/img/svg/ic-' ~ icon.handle ~ '.svg', )|attr({
					class: 'social-links__icon' }) }}
					{% endif %}
				</a>
			{% endif %}

		{% endfor %}
	</div>
</div>
