<script type="text/javascript">
function googleTranslateElementInit() {
	if(window.innerWidth >= 992) {
		new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	} else {
		new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_mobile');
	}

// var copyGoogleTranslateElementToMobile = setInterval(function() {
// 	if($('#google_translate_element .goog-te-gadget').length) {
// 		clearInterval(copyGoogleTranslateElementToMobile);

// 		$mobileGoogleTranslateElement = $('#google_translate_element_mobile');
// 		$mobileGoogleTranslateElement.append($('#google_translate_element .goog-te-gadget').html());
// 	}
// }, 200);
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>