{% import "_macros" as macros %}
<article class="card card--image {{ additionalClasses|default('') }}" :data-link="item.url">
	<div class="card__body">
		{# next line is for specialist library available tag only #}
		<strong class="card__tags card__top-tags card__tag card__tag--top" :class="item.availabilityClass" v-if="item.available">{* item.available *}</strong>
		{# next section is for top tags in resources #}
		<ul class="card__tags card__top-tags" v-if="(item.resourceTypes || item.resourceAudiences) && showTopTags">
			<li class="card__tag card__tag--top" v-for="topTag in item.resourceTypes">
				{* topTag.cardLabel *}
			</li>
			<li class="card__tag card__tag--top" v-for="topTag in item.resourceAudiences">
				{* topTag.cardLabel *}
			</li>
		</ul>
		{# next section is the title link for any card #}
		<a class="card__title-link" :href="item.url" :id="item.id" v-bind:target="item.target" v-on:focus="getFocus(item,item.id)" v-on:blur="getBlur(item,item.id)">
			<h4 class="card__title">
				{* item.title *}
			</h4>
		</a>
		{# next section is for news cards post date #}
		<div class="card__post-date-wrap" v-if="item.type.handle === 'news'">
			{{macros.svg({
				'name': 'ic-calendar',
				'attributes': { 'class': 'card__calendar-icon'}
			})}}
			<span class="card__post-date">{* item.postDate *}</span>
		</div>
		{# next section is summary for any card #}
		<div class="card__summary" v-if="item.summary" v-html="item.summary"></div>
		{# next section is specialist library bottom tags #}
		<ul class="card__tags card__bottom-tags" v-if="item.equipmentType">
			<li class="card__tag card__tag--bottom" v-for="type in item.equipmentType">{* type.title *}</li>
		</ul>
		{# next section is resources bottom tags #}
		<ul class="card__tags card__bottom-tags" v-if="item.resourceTopics || item.resourceCategories">
			<li class="card__tag card__tag--bottom" v-for="bottomTag in item.resourceTopics">
				{* bottomTag.cardLabel *}
			</li>
			<li class="card__tag card__tag--bottom" v-for="bottomTag in item.resourceCategories">
				{* bottomTag.cardLabel *}
			</li>
		</ul>
	</div>
	{# next section is the image which is linked to the page without anchor tag #}
	<figure class="card__image-wrap animate-zoom-in animate-when-visible" v-on:click="gotoUrl(item.url)">
		<img class="img-fluid card__img" v-bind:src="item.thumbnailUrl" alt="item.title" style="object-fit:cover;"/>
	</figure>
</article>
