{% set additionalClasses = additionalClasses is defined and additionalClasses ? ' ' ~ additionalClasses : ''  %}
{% set redirect = redirect is defined and redirect ? redirect : craft.app.request.absoluteUrl %}
{% set hasResetPassword = craft.app.request.getParam('reset') ?? false %}

{% set assetId = assetId ?? null %}
{% set entryId = entryId ?? null %}

{% import "_macros" as macros %}

<div class="ku-form{{additionalClasses}}">
	<div class="ku-form__content-wrap ku-form__content-wrap--tight">
		<div class="ku-form__content rich-text">
			<div class="ku-form__content-main">

				{% set userLoggedIn = currentUser ? true : false %}
				{% if not userLoggedIn %}
					<h2>Login</h2>
				{% else %}
					<h2>Members</h2>
					{% set userGroups = currentUser.getGroups() %}
					{% if userGroups|length == 1 %}
						<p>You are logged in as a member of
							{{userGroups[0].name}}</p>
					{% else %}
						<p>You are logged in as a member of:</p>
						<ul>
							{% for key, userGroup in userGroups %}
								<li>{{userGroup.name}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}

				{# Trying to access an asset #}
				{% if assetId %}
					{% set asset = craft.assets().id(assetId).one() %}
					{% if craft.yump.currentUserCanAccessAsset(asset) %}
						{% set assetUrl = "/actions/yump-module/default/file-download?assetId="~ assetId  %}
						<p>Download the file "{{asset.title}}" below</p>
						<p>
							{{macros.button({
							link: assetUrl,
							text: 'Download',
						})}}
						</p>
					{% else %}
						{% set assetSiteId = craft.yump.siteIdFromAsset(asset) %}
						{% set assetSite = craft.app.getSites().getSiteById(assetSiteId) %}
						{% if hasResetPassword %}
							<p>Check your email for instructions on how to complete the resetting of your password, , then log in below.</p>
						{% else %}
							<p>You must be logged in as a member of
								{{ assetSite.name }}
								to access the file "{{asset.title}}"</p>
						{% endif %}
					{% endif %}
				{% endif %}

				{% if entryId %}
					{% if hasResetPassword %}
						<p>Check your email for instructions on how to complete the resetting of your password, then log in below.</p>
					{% else %}
						<p>You must be logged in as a member of
							{{ currentSite.name }}
							to access the page "{{entry.title}}"</p>
					{% endif %}
				{% endif %}

				{% if userLoggedIn %}
					<p>
						<a class="" href="{{ logoutUrl }}" role="button">Logout</a>
					</p>
					{% if currentUser.can('accessCp') %}
						<p>
							<a class="" href="/admin" role="button">Go to admin</a>
						</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% if not userLoggedIn %}

			<form class="ku-form__form" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('users/login') }}
				{% if redirect %}
					{{ redirectInput(redirect) }}
				{% endif %}
				<div class="form-group">
					<h4 class="ku-form__label-heading">
						<label for="loginName">Username or email</label>
					</h4>
					<input id="loginName" type="text" name="loginName" class="form-control" value="{{ craft.app.user.rememberedUsername }}">
				</div>
				<div class="form-group">
					<h4 class="ku-form__label-heading">
						<label for="password">Password</label>
					</h4>
					<input id="password" type="password" name="password" class="form-control">
				</div>
				<div class="form-group">
					<div class="form-check">
						<input type="checkbox" id="rememberMe" name="rememberMe" value="1" class="form-check-input">
						<label for="rememberMe" class="form-check-label">Remember me</label>
					</div>
				</div>
				<div class="form-group">
					<input class="button button--primary ku-form__submit" type="submit" value="Login">
				</div>
				{% if errorMessage is defined %}
					<div class="errors">
						<p>{{ errorMessage }}</p>
					</div>
				{% endif %}
			</form>
			{% if not hasResetPassword %}
				<p>
					<a href="{{ url('forgot-password') }}">Forgot your password?</a>
				</p>
			{% endif %}

		{% endif %}
	</div>
</div>
