{#
 # Utility Nav
 # ---------------
 # Required: modifier (desktop or mobile)
 #}

{% import '_macros' as macros %}
{% set wrapperClass = 'nav-utility--' ~ modifier %}
{% set buttonClass = modifier == 'mobile' ? 'button--large-always' : 'button--very-small' %}
<div class="nav-utility {{wrapperClass}}">
	{% set contactPage = craft.yump.getContactPageForSite() ?? null %}
	{% if contactPage is not null %}
		<a href="{{contactPage.url}}" class="nav-utility__contact button button--link">
			<span class="nav-utility__contact-text button__text">{{contactPage.title}}</span>
		</a>
	{% endif %}
	
	{% if modifier == 'desktop' %}
		<div class="nav-utility__search">
			{% include "_elements/search-bar" with { wrapperClass: 'search-bar--nav-utility'} %}
		</div>
	{% else %}
		<button class="nav-utility__search-link button button--link" data-toggle="modal" data-target="#search-form-mobile">
			<span class="nav-utility__contact-text button__text">Search</span>
			{{ macros.svg({
					name: 'ic-search',
					attributes: { 'class' : 'nav-utility__search-icon button__append' }
				}) 
			}}
		</button>
	{% endif %}
	<div class="nav-utility__logins">
		<div class="btn-group" role="group">
			{% set isPortalLogin = generalSettings.isPortalLogin ?? null %}
			{% set text = isPortalLogin.text ?? 'IS Portal Login' %}
			{% if isPortalLogin %}
				{% set link = craft.yump.generateValidUrl(isPortalLogin.url) %}
				<a href="{{link}}" class="nav-utility__portal-btn button button--white-bg button--secondary-font {{buttonClass}} btn" target="_blank">
					<span class="button__text">{{text}}</span>
					{{ macros.svg({
							name: 'ic-open-in-new-tab',
							attributes: { 'class' : 'button__append' }
						})
						}}
				</a>
			{% endif %}
			
			{% set iaLogin = craft.yump.getLoginForIasPage() %}
			{% if iaLogin %}
			<a href="{{iaLogin.url}}" class="button button--primary button--secondary-font {{buttonClass}} btn">
				<span class="button__text">Login for IAs</span>
				{{ macros.svg({
						name: 'ic-login',
						attributes: { 'class' : 'button__append' }
					})
					}}
			</a>
			{% endif %}
			
		</div>
	</div>
</div>
