{#
	Top menu rules:
	* Can only have maximum two levels of nav items.
#}

{% set entry = entry ?? null %}
{# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set navItems = craft.yump.getNav() %}
{% import '_macros' as macros %}

<nav class="nav nav--main navbar-expand-md">

	<div class="nav__logo-and-mobile-btn">
		<a class="nav__brand" href="/">
			<img class="nav__brand-img" src="{{seomatic.site.identity.genericImage}}" alt="{{seomatic.site.siteName ~ ' logo'}}">
		</a>

		<button class="nav-btn navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="nav-btn__text navbar-toggler-text sr-only">Menu</span>
			<span class="nav-btn__burger">
				<span class="nav-btn__burger-line nav-btn__burger-line--1"></span>
				<span class="nav-btn__burger-line nav-btn__burger-line--2"></span>
				<span class="nav-btn__burger-line nav-btn__burger-line--3"></span>
				<span class="nav-btn__burger-line nav-btn__burger-line--4"></span>
			</span>
		</button>
	</div>

	<div class="nav__main-content-wrap">

		{% include "_elements/nav-utility" with {modifier: 'desktop'} %}

		<div class="nav__navbarsupportedcontent collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav__navbar navbar-nav" data-md-options="{
										bootstrapHighlightClasses: '',
										{# subMenusSubOffsetX: 105,  #}
										collapsibleBehavior: 'default',
										subMenusMaxWidth: '30rem',
										subMenusMinWidth: '20rem',
										{# mainMenuSubOffsetY: 5,  #}
										{# subIndicators: false,  #}
									}">
				{% for navItem in navItems %}
					{% set isCurrent = entry and entryId == navItem.id %}
					{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
					{# {% set hasChildren = navItem.level == 1 and navItem.children is not empty %} #}
					<li class="nav__item {{- isActive ? ' active' : '' -}} {{- isCurrent ? ' current' : '' -}}">
						<a class="nav__link" href="{{ navItem.url }}" target="{{ navItem.target ?? '_self' }}" role="button" aria-haspopup="true" aria-expanded="false">
							{{- navItem.title -}}
							{%- if isCurrent -%}
								<span class="sr-only">
									(current page)</span>
							{%- endif -%}
						</a>
					</li>
				{% endfor %}
				{% if currentUser %}
					<li class="nav__item">
						<a class="nav__link" href="{{ logoutUrl }}" role="button">
							Logout
						</a>
					</li>
				{% endif %}
			</ul>

			{% include "_elements/nav-utility" with {modifier: 'mobile'} %}

		</div>

	</div>
</nav>

{% set modalBody %}
{% set searchQuery = searchQuery is defined ? searchQuery : 'What are you looking for?' %}
<div class="modal__search">
	<form class="bare-search-bar__form" action="{{ url('/search') }}">
		<label class="sr-only" for="modalSearchInput">Search Site for:</label>
		<input id="modalSearchInput" class="bare-search-bar__form-input form-control" type="search" name="q" placeholder="{{searchQuery}}">
		<button class="bare-search-bar__form-button button button--primary button--full-width" type="submit">
			<span class="button__text">Search</span>
		</button>
	</form>
</div>
{% endset %}

{{ macros.modal({
    id: "search-form-mobile",
	headerTag: 'span',
	header: "Search",
    body: modalBody,
	vertPosition: 'modal-dialog-top-full',
	extraClasses: 'fade',
    modalExtraAttributes: ""
}) }}
