{% if craft.app.config.general.devMode %}
	{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
{% else %}
	{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
{% endif %}
{% do view.registerJsFile("https://unpkg.com/axios@1.0.0/dist/axios.min.js") %}
{# If multi select is required, include the Vue-multiselect package #}
{# {% do view.registerJsFile("https://unpkg.com/vue-multiselect-accessibility@2.1.94") %} #}

{# add your custom library for this feature #}
{% do view.registerJsFile("/dist/scripts/news-landing.js") %}

<section class="datalist datalist--news" id="news-list-vue" v-cloak> 

	<div class="container">
	
		<div v-if="initialising" class="loading">
			<div class="spinner-wrapper">
				{% include '_elements/spinner' %}
			</div>

			<h3 class="loading-text">Loading...</h3>
		</div>

		<div v-else class="datalist__wrap" aria-live="polite">

			<template v-if="!initErrored && allResults">

				<div class="datalist__results">
					<div class="datalist__body container" v-if="allResults.length">

						<div class="datalist__lists cards cards--count-3">
							<div class="cards__rows">
								<template v-for="item in cappedSortedFilteredResults">
									{% include '_elements/list-vue-item' %}
								</template>
							</div>
						</div>
						<button type="button" class="datalist__loadmore button button--primary button--wide button--centered" v-on:click="loadMore()" v-if="showLoadMore">Show more</button>
					</div>

					<div class="datalist__notfound" v-else>No results matching your search criteria.</div>
				</div>
			</template>

			<div v-else class="datalist__error">
				<div class="datalist__message" v-if="message && message.error && !initialising" role="alert">
					<p class="message error" v-cloak>{* message.error *}</p>
				</div>
			</div>
		</div>

	</div>

</section>
