{% import "_macros" as macros %}
<article class="card card--image {{ additionalClasses|default('') }}" :data-link="item.url">
	<div class="card__body">
		<a v-bind:href="item.url" class="card__image-link" :id="item.id" v-on:focus="getFocus(item,item.id)" v-on:blur="getBlur(item,item.id)">
			<h4 class="card__title">
				{* item.title *}
			</h4>
		</a>
		<div class="card__post-date-wrap" v-if="item.type.handle === 'news'">
			{{macros.svg({
					'name': 'ic-calendar',
					'attributes': { 'class': 'card__calendar-icon'}
				})}}
			<span class="card__post-date">{* item.postDate *}</span>
		</div>
		<div class="card__summary" v-html="item.summary"></div>
	</div>
	<figure class="card__image-wrap">
		<img class="img-fluid" v-bind:src="item.thumbnailUrl" alt="">
	</figure>
</article>
