{% if craft.app.config.general.devMode %}
	{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
{% else %}
	{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
{% endif %}
{% do view.registerJsFile("https://unpkg.com/axios@1.0.0/dist/axios.min.js") %}
{% do view.registerJsFile("https://unpkg.com/vue-multiselect-accessibility@2.1.94") %}

{% do view.registerJsFile("/dist/scripts/resource-list-vue.js") %}

<section class="resource-list" id="resource-list-vue" data-entry-id="{{entry.id}}" v-cloak>

	<div v-if="initialising" class="container loading">
		<div class="loading__spinner-wrapper">
			{% include '_elements/spinner' %}
		</div>

		<h3 class="loading-text">Loading...</h3>
	</div>

	<div v-else class="resource-list__wrap" aria-live="polite">

		<template v-if="!initErrored && allResults">

			<div id="vue-filters" class="filters">
				<div class="filters__container">
					<div class="filters__box">
						<div class="form-group filters__filter">
							<label class="filters__filter-label" for="keyword">Search resources</label>
							<input id="keyword" type="text" v-model="keyword" placeholder="Enter keywords" class="form-control filters__text-input">
						</div>
						<div class="form-group filters__filter filters__filter--multi" v-for="msfilter in filters">
							<label class="filters__filter-label" for="filter-by-topic">{* msfilter.label *}</label>
							<multiselect v-model="selected[msfilter.id]" class="filters__multiselect" :placeholder="msfilter.placeholder" :multiple="true" :options="msfilter.options" label="label" track-by="id"></multiselect>
						</div>
					</div>
				</div>
			</div>

			<div class="resource-list__results">

				<div class="resource-list__body" v-if="filteredResults.length">

					<div class="resource-list__resultscount">
						<div class="container">
							<span class="resource-list__resultscount-text">
								Showing
								<strong>{*showingCount*}</strong>
								of
								<strong>{* filteredResults.length *}</strong>
								results
							</span>
						</div>
					</div>

					<div class="resource-list__lists">

						{# <div class="resource-list__featured-wrap">
							<div class="container">
								<div class="cards">
									<div class="resource-list__featured cards__rows">
										<template class="resource-list__item resource-list__item--featured" v-for="item in featuredResults">
											{% include '_elements/list-vue-item' %}
										</template>
									</div>
								</div>
							</div>
						</div> #}
						<div class="container">
							<div class="cards cards--count-3">
								<div class="resource-list__not-featured cards__rows">
									<template class="resource-list__item resource-list__item--not-featured" v-for="item in cappedSortedFilteredResults">
										{% include '_elements/list-vue-item' %}
									</template>
								</div>
							</div>
						</div>

					</div>

					<div class="resource-list__loadmore-wrapper">
						<button type="button" class="resource-list__loadmore button button--primary button--wide button--centered" v-on:click="loadMore()" v-if="showLoadMore">Show more</button>
					</div>
				</div>

				<div class="resource-list__notfound container" v-else>No results matching your search criteria.</div>

			</div>
		</template>

		<div v-else class="resource-list__error">
			<div class="resource-list__message" v-if="message.error" role="alert">
				<p class="message error">{* message.error *}</p>
			</div>
		</div>

	</div>

</section>
