{# I THINK THIS IS DEPRECATED - SEE templates\_elements\list-vue-item.html #}
{# {% set delay = index is defined and index ? index * 10 : '' %}
<article class="card card--image {{ additionalClasses|default('') }}" :data-link="item.url">
	<div class="card__body">
		<ul class="card__tags card__top-tags" v-if="(item.resourceTypes || item.resourceAudiences)">
			<li class="card__tag card__tag--top" v-for="topTag in item.resourceTypes">
				{* topTag.cardLabel *}
			</li>
			<li class="card__tag card__tag--top" v-for="topTag in item.resourceAudiences">
				{* topTag.cardLabel *}
			</li>
		</ul>
		<a class="card__title-link" :href="item.url" :id="item.id" v-bind:target="item.target" v-on:focus="getFocus(item,item.id)" v-on:blur="getBlur(item,item.id)">
			<h4 class="card__title">
				{* item.title *}
			</h4>
		</a>
		<div class="card__summary" v-if="item.summary" v-html="item.summary"></div>
		<ul class="card__tags card__bottom-tags" v-if="item.resourceTopics || item.resourceCategories">
			<li class="card__tag card__tag--bottom" v-for="bottomTag in item.resourceTopics">
				{* bottomTag.cardLabel *}
			</li>
			<li class="card__tag card__tag--bottom" v-for="bottomTag in item.resourceCategories">
				{* bottomTag.cardLabel *}
			</li>
		</ul>
	</div>
	<figure class="card__image-wrap animate-zoom-in animate-when-visible" v-on:click="gotoUrl(item.url)">
		<img class="img-fluid card__img" v-bind:src="item.thumbnailUrl" alt="item.title"/>
	</figure>
</article> #}
