{% set wrapperClass = wrapperClass is defined ? wrapperClass : '' %}
{% set currentQuery = craft.app.request.getParam('q') ?? false %}
{% set searchQuery = currentQuery ? currentQuery : searchQuery is defined ? searchQuery : searchPlaceholder is defined ? searchPlaceholder : 'Search' %}

{% set closeButton = closeButton is defined ? closeButton : false %}
<div class="search-bar{{' ' ~ wrapperClass}}{% if closeButton == true %} search-bar--with-close{% endif %}">
	<div class="search-bar__container">
		<form class="search-bar__form" action="{{ url('/search') }}">
			<label class="sr-only" for="searchInput">Search site for</label>
			<input id="searchInput" class="search-bar__form-input form-control" type="search" name="q" placeholder="{{searchQuery}}" required>
			<button class="search-bar__form-button" type="submit">
				<span class="sr-only">Search</span>
				{{svg('@webroot/assets/img/svg/ic-search.svg')|attr({
                	class: 'search-bar__form-search-icon'
            	}) }}
			</button>
		</form>
		{% if closeButton %}
			<a class="search-bar__close" href="#">
				<img src="/assets/svg/ic-search.svg" alt="Close Search Bar">
			</a>
		{% endif %}
	</div>
</div>
