
<div class="search-results-item-breadcrumbs crumbs-wrap" v-if="item.breadcrumb && item.breadcrumb.length">
	<ul class="search-results-item-breadcrumbs__list">
        <template v-for="crumb,index in item.breadcrumb">
            <li class="search-results-item-breadcrumbs__item">
                <a v-if="crumb.url" v-bind:href="crumb.url">{* crumb.text *}</a>
                <span v-else>{* crumb.text *}</span>
            </li>
            <li v-if="index !== item.breadcrumb.length - 1" class="search-results-item-breadcrumbs__icon">
				{{svg('@webroot/assets/img/svg/ic-chevron-right.svg')|attr({
                	class: 'search-results-item-breadcrumbs__icon'
            	}) }}
			</li>
        </template>
    </ul>
</div>
