{# Required:
	1. either:
	- pass in sectionHeading and sectionSummary directly
	or
	- obj: the obj which can have the following three fields: heading, summary and button

	2. objHandle: the handle for the obj. E.g. form, cards. Just for css class naming purposes
	3. Fontstyle: set to fancy if you want BlockBEBold heading
#}
{% set sectionHeading = sectionHeading ?? (obj is defined and obj.heading ? obj.heading|trim : null) %}
{% set sectionSummary = sectionSummary ?? (obj.summary | default(null) ) %}
{% set hasButton = obj.cta|default(null) %}
{% set button = hasButton and obj.cta.url ? obj.cta : null %}

{% set summaryModifier = sectionSummary or obj.summary is defined ? 'section-head--has-summary' : 'section-head--no-summary' %}
{% set fontStyleModifier = fontStyle is defined and fontStyle ? 'section-head--' ~ fontStyle : 'section-head--basic' %}
{% set hasButtonModifier = button ? 'section-head--has-button' : 'section-head--no-button' %}

{% set variationClasses = summaryModifier ~ ' ' ~ fontStyleModifier ~ ' ' ~ hasButtonModifier %}

{% import "_macros" as macros %}

{% if sectionHeading or sectionSummary %}
	<div class="container">
		<div class="section-head section-head--{{ objHandle }} {{variationClasses}}">
			<div class="section-head__content">
				{% if sectionHeading %}
					{# ID used by anchor links if present #}
					<h2 id="{{craft.yump.createSlug(sectionHeading)}}" class="section-head__heading" {% if objHandle == 'custom-form' %} tabindex="-1" {% endif %}>
						{{ sectionHeading }}
					</h2>
				{% endif %}
				{% if sectionSummary %}
					<div class="section-head__summary">
						{{ sectionSummary | raw }}
					</div>
				{% endif %}
			</div>
			{% if button %}
				<div class="section-head__cta">
					{% set buttonStyle = obj.buttonStyle ?? 'primary' %}
					{{ macros.cta({
						field: button,
						style: buttonStyle,
						maybeIncludeMobileLabel: true,
						objHandle: objHandle
					}) }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
