{#
    There parts that makes this alert work
    1. templates/_elements/top-alert.html (this page)
    2. src/scripts/yump/topAlert.module.js;
    3. craft global generalSettings
    4. templates/_layouts/default.html [ including this alert template, leaving the spacing for alert for sticky navigation ]
#}

{% if generalSettings["alertEnabled"] is defined and generalSettings.alertEnabled %}
    {% set name = generalSettings.alertName ?? 'sitewide' %}
    {% set JsID = craft.yump.createJsFriendlySlug(name) %}
    <div class="top-alert" data-alert="{{JsID}}">
		<div class="top-alert__content-wrap">
			<div class="top-alert__info-icon-wrap">
				{{svg('@webroot/assets/img/svg/ic-info.svg')|attr({
						class: 'top-alert__info-icon'
					}) }}
			</div>
			<div class="top-alert__content">
				{{ generalSettings.alertContent }}
			</div>
			<button data-alert-close="{{JsID}}" class="top-alert__close-btn" name="Close Alert" aria-label="Dismiss Alert">
				{{svg('@webroot/assets/img/svg/ic-close.svg')|attr({
						class: 'top-alert__close-icon'
					}) }}
			</button>
		</div>
    </div>
{% endif %}
