
.form-control {
	&:focus {
		// border-color: $dark-grey;
	}
}
label {
	font-weight: 700;
}
legend {
	@extend %secondary-heading;
	color: $secondary;
}

legend.h4 {
	@extend %minor-heading;
}

.tab-hidden {
	display: none;
}

.form-check {
	label {
		font-weight: 400;
	}
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }