html {
	font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

body {
	font-family: $font-family-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

iframe {
	max-width: 100%;
}
a {
	&:focus {
		outline: 2px dotted $primary;
	}
}
figure{
	margin: 0;
}
[v-cloak] { display: none; }
