// This overrides the defaults set in src\styles\vendor\_multiselect.scss
// First try to just update variables here. Create new variables in src\styles\vendor\_multiselect.scss if required
$ms_color1: $white;
$ms_color2: $primary;
$ms_color3: $pepper;
$ms_color4: $warm-grey;
$ms_color5: $accent1;
$ms_color6: $warm-grey;
$ms_color7: #f3f3f3;
$ms_color8: $white;
$ms_color9: $vanilla;

// Selected and highlighted option
$multiselectContentBgColor: $white;
$multiselectOptionHighlightSelectedBgColor: $ms_color5;
$multiselectOptionHighlightSelectedColor: $ms_color1;

//Selected Option
$multiselectOptionSelectedBgColor: $primary;
$multiselectOptionSelectedColor: $white;

// Highlighted option
$multiselectOptionHighlightBgColor: $soap;
$multiselectOptionHighlightColor: $off-black;

// Group option
$multiselectOptionGroupSelectedBgColor: $ms_color3;
$multiselectOptionGroupSelectedColor: $ms_color1;
$multiselectOptionGroupBgColor: $ms_color9;
$multiselectOptionGroupColor: $ms_color8;

// Multiselect Content Area
$multiselectContentBorderColor: $primary;
$multiselectTagsBorder: $input-border-width solid $input-border-color;
$multiselectTagsBorderRadius: 4px;

// misc
$multiselectColor: $ms_color8;
$multiselectTagColor: $ms_color8;
$multiselectTagIconColor: $white;
$multiselectOptionInstructionTextSize: 10px;
$multiselectInputHeight: 49px;

.multiselect {
	$self: &;
	// DEBUGGING ONLY:
	// &__content-wrapper {
	// 	display: block !important;
	// }

	&__option {
		color: $off-black;
	}

	&__tags-wrap {
		padding-top: 7px;
	}

	&__tags {
		margin: 0;
		padding: 0 25px 0 5px;
	}

	&__tag {
		padding: 0.45rem 1.725rem 0.35rem 0.725rem;
		span {
			font-size: 13px;
		}
	}

	&__input {
		margin-top: 13px;
		padding: 1px 0 0 9px;
	}

	&__select {
		background-image: url("/assets/img/svg/ic-arrow-down.svg");
		// TODO: Waiting for svg icon fix and then we can do this: 
		// background-image: url('/assets/img/jpg/#{$theme-name}/ic-caret-down.svg');
		background-repeat: no-repeat;
		background-size: 15px 9px;
		background-position: center center;
		width: 30px;
		height: 20px;
		top: 14px;
		right: 5px;
		padding: 10px;
		transform: rotate(0);
		&::before {
			display: none;
		}
	}

	&__single {
		padding-left: 0;
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
	}

	&--active {
		transform: rotate(0);
	}
}
