$accordion-border-color: $grey;

.accordion {

	$self: &;
	&__item {
		border: 0;
		border-radius: 0;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__header {
		padding: 0;
		display: flex;
		border-bottom: 0;
		cursor: pointer;
		background: none;
		
		&[aria-expanded="true"] {
			#{$self}__header-tag {
				background-image: image-url('svg/minus-solid.svg');
				background-size: 16px 16px;
				@include media-breakpoint-up(lg) {
					background-size: 18px 18px;
				}
			}
			#{$self}__header-content {
				border-bottom: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&__header-tag {
		background: $secondary image-url('svg/plus-solid.svg');
		background-size: 16px 16px;
		background-position: center center;
		background-repeat: no-repeat;
		width: 48px;
		min-height: 48px;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		flex: 0 0 48px;
		@include media-breakpoint-up(lg) {
			background-size: 18px 18px;
			width: 72px;
			min-height: 72px;
			flex-basis: 72px;
		}
	}
	
	&__header-content {
		color: $black;
		flex-basis: 100%;
		display: block;
		padding: 8px 16px;
		border: 1px solid $accordion-border-color;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			padding: 24px;
		}
		@include media-breakpoint-down(md) {
			font-size: 1.4rem;
			line-height: 16px;
			letter-spacing: normal;
		}
	}

	&__body {
		padding-left: 48px;
		@include media-breakpoint-up(lg) {
			padding-left: 72px;
		}
	}

	&__body-content {
		padding: 0 16px 16px;
		border: 1px solid $accordion-border-color;
		border-top: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		@include media-breakpoint-up(lg) {
			padding: 0 24px 24px;
		}
		& > * {
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			max-width: 100%;
		}
	}	

}