.anchor-links {
	$self: &;

	padding: 3.2rem 4rem 2.7rem;
	border-left: 2px solid $accent1;

	&__heading {
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 1.33;
		margin-bottom: 2.2rem;
		color: $off-black;
	}

	&__list {
		@include reset-list-styles;
	}

	&__list-item {
		margin-bottom: 1.2rem;
	}

	&__link {
		@include clear-appearance;
		display: block;
		font-size: 1.6rem;
		color: $primary;
		line-height: 1.5;
		border-bottom: 1px solid $primary;
		svg {
			transition: all 0.3s ease-in-out;
		}

		&:visited,
		&:active{
			background: none;
			border: 0;
			border-radius: 0;
			box-shadow: none;
		}
		&:focus{
			outline: 2px dotted $primary;
		}

		&:hover {
			text-decoration: none;
			border-bottom: 1px solid $white;
		}
	}
	
	&__link-icon {
		transition: all 0.3s ease-in-out;
		color: $secondary;
		margin-right: 1.6rem;
	}
}
