/* 
* @type This is a the main banner in the header
* @related src\styles\content-blocks\_rich-media.scss
* @extends banner from src\styles\base\design-system\_ds-banner.scss.
*/

$banner-text-color: $white;

.banner {
	$self: &;

	&__row {
		@extend %banner__row;
	}

	&__column {
		@extend %banner__column;
		&--media {
			@extend %banner__column--media;
		}
		&--text {
			@extend %banner__column--text;
		}
	}

	&__media {
		&--image {
			@extend %banner__media--image;
		}
	}

	&__text-content-wrap {
		@extend %banner__text-content-wrap;
	}

	&__text-content-ctas {
		@extend %banner__text-content-ctas;
	}

	&__text-content-summary {
		p {
			@extend %sub-heading;
			font-weight: $font-weight-base;
			letter-spacing: -0.3px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text-content-heading {
		@extend %banner-heading;
		color: $banner-text-color;
	}

	&__text-content-summary {
		margin-top: 23px;
	}

	&__icon {
		margin-bottom: 25px;
	}

	&__img {
		@include media-breakpoint-up(lg) {
			height: 100%;
			width: 100%;
		}
		@include media-breakpoint-down($rich-media-breakpoint-down) {
			height:390px;
			width: 100%;
		}
	}

	&--with-media {
		background-image: url("/assets/img/jpg/#{$theme-name}/texture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		color: $banner-text-color;
		#{$self}__column--media {
			@include media-breakpoint-up(lg) {
				order: 2;
			}
		}
	}

	&--simple {
		background-image: url("/assets/img/jpg/#{$theme-name}/texture.jpg");
		color: $white;
		text-align: center;
		#{$self}__row {
			justify-content: center;
		}
		#{$self}__text-content-wrap {
			@include fluid-property("padding-top", 90, 50);
			@include fluid-property("padding-bottom", 90, 50);
			text-align: center;
			width: 100%;
			max-width: 100%;
		}
		#{$self}__text-content-heading {
			@include fluid-type($banner-heading);
			margin-bottom: 0;
			+ #{$self}__text-content-summary {
				margin-top: 2rem;
			}
		}
	}

	&--colour-red {
		background-image: url("/assets/img/jpg/qld/texture.jpg");
	}
	&--colour-grey {
		background-image: url("/assets/img/png/texture-gray.png");
		.banner__text-content-heading {
			color: #5D5D5D;
		}
		.banner__text-content-summary {
			color: #5D5D5D;
		}
	}

	&--flip {
		#{$self}__row {
			flex-direction: row-reverse;
		}
	}

	&--flip {
		#{$self}__row {
			flex-direction: row-reverse;
		}
	}

	&--has-overlap {
		#{$self}__text-content-wrap {
			@include media-breakpoint-up(lg) {
				margin-bottom: 4rem;
			}
		}
	}

	&--size-default {
		#{$self}__row {
			@include media-breakpoint-up(lg) {
				max-height: 480px;
			}
		}
		#{$self}__column{
			@include media-breakpoint-up(lg) {
				max-height: 480px;
			}
		}
	}

	&--size-large {
		#{$self}__row {
			@include media-breakpoint-up(lg) {
				max-height: 540px;
			}
		}
		#{$self}__column{
			@include media-breakpoint-up(lg) {
				max-height: 540px;
			}
		}
	}

	&--keep-ratio {
		#{$self}__row {
			@include media-breakpoint-up(lg) {
				max-height: unset;
			}
		}
		#{$self}__column{
			@include media-breakpoint-up(lg) {
				max-height: unset;
			}
		}

		
		.banner__img {
			@media (min-width: 1024px)
			{
				height: 100%;
				width: 100%;
			}

			@media (max-width: 1023.98px)
			{
				height: auto;
				width: 100%;
			}
		}

		@media (max-width: 1023.98px)
		{
			.banner__column--media, .rich-media__column--media, .program-details__column--video, .site-summary__column--highlighted {
				max-height: unset;
			}
		}
	}
}
