.breadcrumbs {
	$self: &;
	padding: 9px 0;

	@include media-breakpoint-up(lg) {
		padding: 72px 0 0;
	}

	&__mobile-item {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__crumb-list {
		display: none;
		@include media-breakpoint-up(lg) {
			display: flex;
		}

		background-color: unset !important;
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	&__item,
	&__item a {
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		display: flex;
		align-items: center;
		color: $primary;
	}

	&__item-link {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	&__item-separator {
		padding: 5px 7px 0;
		font-size: 1rem;
	}

	&--article {
		padding-top: 20px;
		#{$self}__item-link {
			&::before {
				content: '';
				display: inline-block;
				margin-right: 10px;
				transform: rotate(180deg);
				transform-origin: 50%;
				background-image: url('/assets/img/svg/#{$theme-name}/ic-chevron.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 10px;
				height: 10px;

			}
		}
	}
}
