.button {
	@extend %button;

	&__append {
		@extend %button__append;
	}

	&__prepend {
		@extend %button__prepend;
	}

	&__text-mobile {
		@extend %button__text-mobile;
	}

	&__icon {
		path {
			@extend %button__icon;
		}
	}

	&--primary {
		@extend %button--primary;
	}

	&--centered {
		@extend %button--centered;
	}

	&--white-bg {
		@extend %button--white-bg;
	}

	&--trans-white {
		@extend %button--trans-white;
	}

	&--secondary-font {
		@extend %button--secondary-font;
	}

	&--very-small {
		@extend %button--very-small;
	}

	&--small {
		@extend %button--small;
	}

	&--large {
		@extend %button--large;
	}

	&--large-always {
		@extend %button--large-always;
	}

	&--reverse {
		@extend %button--reverse;
	}

	&--link {
		@extend %button--link;
	}

	&--full-width {
		@extend %button--full-width;
	}

	&--wide {
		@extend %button--wide;
	}
}
