/**
 * Cards layout
 *
 * Reminder of the card layout rules in design system:
 * Withing main content (article width)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout.
 * Within secondary content (full width body)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px, < 1200px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout. (Same as main content)
 ..* >= 1200px: 4 columns layout if only 4 cards in total. Otherwise, 3 columns layout
 *
 * Also, each card should be equally high >= 576px
 * 
 */

/** Cards is the outer element, card is an individual card **/

/** Deafult (Main Content Area) **/
.cards {
	$self: &;
	margin-bottom: -$card-gutter-width-vertical;

	&__rows {
		@include media-breakpoint-up(sm) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: $card-gutter-width-horizontal;
			grid-auto-rows: auto;
		}
	}

	&--count-3 {
		#{$self}__rows {
			@include media-breakpoint-up(lg) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}

	// in block or article content, restrict count 4 to 3
	&--count-4 {
		#{$self}__rows {
			@include media-breakpoint-up(lg) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}
}

/* Within Article Content */
.main__articled-box {
	.cards {
		$self: &;

		&__rows {
			@include media-breakpoint-up(xl) {
				grid-template-columns: 1fr 1fr;
			}
		}

		&--count-4 {
			#{$self}__rows {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}
