$outline-colour: $primary;
.card {
	$card: &;
	margin-bottom: $card-gutter-width-vertical;
	display: flex;
	flex-direction: column;
	min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
	width: 100%;
	word-wrap: break-word;
	background-clip: border-box;
	background-color: $card-bg;
	// border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);
	@include media-breakpoint-up(sm) {
		& > .card__link {
			flex: 0 0 auto;
		}
		// }
	}

	&[data-link*="/"] {
		#{$card}__image-wrap {
			cursor: pointer;
		}
	}

	&:focus,
	&.focus {
		outline: 2px dotted $outline-colour;
	}

	&__body {
		order: 1;
		flex: 1 1 auto;
		// Workaround for the image size bug in IE
		// See: https://github.com/twbs/bootstrap/pull/28855
		min-height: 1px;
		padding: $card-spacer-x;
		color: $card-color;
	}

	&__link {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	&__image-wrap {
		overflow: hidden;
		order: 0;
		img {
			transition: all 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__footer {
		padding: $card-spacer-y $card-spacer-x;
		background-color: $card-cap-bg;
		border-top: $card-border-width solid $card-border-color;
		margin-top: auto;
		&:last-child {
			@include border-radius(
				0 0 $card-inner-border-radius $card-inner-border-radius
			);
		}
	}

	&__tags {
		list-style-type: none;
		padding-left: 0;
	}

	&__top-tags {
		margin-top: 18px;
		margin-bottom: 16px;
	}

	&__tag {
		@extend %tag;
		&--top {
			@extend %tag--top;
		}
		&--bottom {
			@extend %tag--bottom;
		}
	}

	&__title {
		@extend %sub-heading;
	}

	&__title,
	&__title a {
		color: $primary;
		font-weight: 700;
		transition: all 0.3s;
		&:hover {
			color: $link-color;
		}
	}

	&__title-link {
		display: block;
		&:focus {
			text-decoration: none;
			outline: none;
		}
	}

	&__post-date-wrap {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
	}

	&__post-date {
		color: $off-black;
		font-size: 16px;
		margin-top: 2px;
	}

	&__calendar-icon {
		margin-right: 10px;
	}

	&--whole-link {
		display: flex;
		text-decoration: none;
		@include hover-focus() {
			text-decoration: underline;
		}
	}

	&--specialist-equipment {
		#{$card}__body {
			padding-left: 0;
			padding-right: 0;
		}
		#{$card}__img {
			object-fit: cover;
			@include media-breakpoint-up(xl) {
				width: 407px;
				height: 407px;
			}
		}
		#{$card}__tag {
			&--top {
				display: inline-block;
				position: relative;
				padding: 0.4rem 0.8rem;
				margin-bottom: 2rem;
				&::before {
					content: "";
					display: inline-block;
					width: 6px;
					height: 6px;
					background-color: $primary;
					border-radius: 100%;
					margin-right: 0.8rem;
				}
			}
			&--unavailable {
				background-color: $pale-grey-2;
				color: $greyish-brown;
				&::before {
					background-color: $greyish-brown;
				}
			}
		}
	}
}
