$coloured-button-green: rgb(127, 204, 137);
$coloured-button-red: rgb(246,118,85);
$coloured-button-blue: rgb(110,183,230);
$coloured-button-orange: rgb(255,189,56);
$coloured-button-dark: rgb(160,160,160);
$coloured-button-darker: rgb(93,93,93);

//create a set of hover colour for the above colours
//for example: $primary:#00823d; $hover-primary:#00642f;
//cran you create 4 hover colours for the above colours
$coloured-button-green-hover: darken($coloured-button-green, 10%);
$coloured-button-red-hover: darken($coloured-button-red, 10%);
$coloured-button-blue-hover: darken($coloured-button-blue, 10%);
$coloured-button-orange-hover: darken($coloured-button-orange, 10%);
$coloured-button-dark-hover: darken($coloured-button-dark, 10%);
$coloured-button-darker-hover: darken($coloured-button-darker, 10%);


$padding: 0.8rem 1.6rem;
.coloured-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;


    .button {
        width: auto;
        max-width: 20rem;

        .button-text {
            &--small {
                font-family: $font-family-base;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 1.2;
                display: block;
            }
        }
    }

    .button--green {
        padding: $padding;
		background-color: $coloured-button-green;
		color: $white;
        @include hover-focus {
			background-color: $coloured-button-green-hover;
			color: $white;
		}
    }

    .button--red {
        padding: $padding;
        background-color: $coloured-button-red;
        color: $white;
        @include hover-focus {
            background-color: $coloured-button-red-hover;
            color: $white;
        }
    }

    .button--blue {
        padding: $padding;
        background-color: $coloured-button-blue;
        color: $white;
        @include hover-focus {
            background-color: $coloured-button-blue-hover;
            color: $white;
        }
    }

    .button--yellow {
        padding: $padding;
        background-color: $coloured-button-orange;
        color: $white;
        @include hover-focus {
            background-color: $coloured-button-orange-hover;
            color: $white;
        }
    }

    .button--dark {
        padding: $padding;
        background-color: $coloured-button-dark;
        color: $white;
        @include hover-focus {
            background-color: $coloured-button-dark-hover;
            color: $white;
        }
    }

    .button--darker {
        padding: $padding;
        background-color: $coloured-button-darker;
        color: $white;
        @include hover-focus {
            background-color: $coloured-button-darker-hover;
            color: $white;
        }
    }
}