.downloads {
	&__item {
		@extend %fw-cta-card__item;
	}
	&__file-desc {
		@extend %fw-cta-card__main;
	}
	&__file-icon-wrap {
		@extend %fw-cta-card__icon-wrap;
		padding-top: 20px;
		display: flex;
		align-items: flex-end;
	}
	&__icon-colour {
		@extend %fw-cta-card__icon-colour;
	}
	&__title {
		@extend %fw-cta-card__title;
	}
	&__meta {
		@extend %fw-cta-card__meta;
	}
	&__ext {
		text-transform: uppercase;
	}
	&__cta {
		@extend %fw-cta-card__cta;
	}
	&__button {
		@extend %fw-cta-card__button;
	}
}