.events {
	$self: &;
	&__item {
		@extend %fw-cta-card__item;
	}
	&__title {
		@extend %fw-cta-card__title;
	}
	&__main {
		@extend %fw-cta-card__main;
	}
	&__icon-wrap {
		@extend %fw-cta-card__icon-wrap;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&__icon-colour {
		@extend %fw-cta-card__icon-colour;
	}
	&__meta {
		@extend %fw-cta-card__meta;
	}
	&__cta {
		@extend %fw-cta-card__cta;
	}
	&__button {
		@extend %fw-cta-card__button;
	}

	&__events-meta > span {
		display: inline-block;
	}

	&__time-start {
		// like this in case they leave the datetime end field empty
		+ #{$self}__time-end {
			&::before {
				content: '-';
				display: inline-block;
				margin-left: 1px;
				margin-right: 1px;
			}
		}
	}

	&__price {
		&::before {
			content: '|';
			display: inline-block;
			margin-left: 4px;
			margin-right: 4px;
		}
	}

	&__date-start {
		&::after {
			content: '|';
			display: inline-block;
			margin-left: 4px;
			margin-right: 4px;
		}
	}
}