.filters {
	$self: &;
	background-color: $secondary;

	&__container {
		@include make-container;
		@include make-container-max-widths;
	}

	&__box {
		background-color: $white;
		border-left: 4px solid $accent2;
		border-bottom: 1px solid $other-soap;
		border-right: 1px solid $other-soap;
		border-top: 1px solid $other-soap;
		position: relative;
		padding: 30px 20px 30px 20px;
		bottom: 20px;
		display: grid;
		@include media-breakpoint-up(lg) {
			margin-bottom: -20px;
			bottom: 70px;
			padding-bottom: 4rem;
			display: flex;
			justify-content: space-between;
			height: 153px;
		}
		+ #{$self}__box {
			margin-top: 4rem;
		}
	}

	&__filter-search-input-wrap {
		position: relative;
		display: block;
		background-color: $white;
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 10px;
			top: 9px;
			bottom: 0;
			width: 27px;
			height: 27px;
			background-color: transparent;
			@include svg-background("icon-search-heavier-stroke");
		}
	}

	&__filter-search-input {
		position: relative;
		background-color: transparent;
		padding-left: 50px;
	}

	&__filter-label {
		// @extend %minor-sub-heading;
	}

	&__filter-label {
		flex-grow: 1;
	}

	&__text-input {
		border-radius: 4px;
		height: 49px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__btn-toolbar-btn-wrap {
		display: flex;
		flex-direction: row;
	}

	&__filter {
		display: block;
		width: 100%;
		position: relative;
		&:not(:last-child) {
			margin-right: 20px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	&__clear-filters {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		margin-top: 10px;
		@include media-breakpoint-up(sm) {
			margin-top: 30px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 40px;
			margin-left: 30px;
			margin-top: 0;
		}
		&--stick {
			margin-left: auto;
		}
	}

	&__clear-btn-wrap {
		align-self: flex-end;
		flex-shrink: 0;
	}

	&--doctors {
		#{$self}__btn-toolbar-btn-wrap {
			@include media-breakpoint-up(lg) {
				justify-content: space-around;
			}
		}
		#{$self}__btn-toolbar {
			flex-grow: 1;
		}
		#{$self}__clear-btn-wrap {
			@include media-breakpoint-up(lg) {
				margin-left: 30px;
			}
		}
	}
	&--specialist-equipment {
		background-color: transparent;
		#{$self}__loadmore-wrapper {
			margin-top: 20px;
			@include media-breakpoint-up(md) {
				margin-top: 50px;
			}
		}
		#{$self}__resultscount {
			padding-bottom: 20px;
		}

		#{$self}__featured-wrap {
			background-color: $secondary;
			padding-bottom: 50px;
		}

		#{$self}__not-featured {
			margin-top: 50px;
		}

		#{$self}__notfound {
			margin-top: 50px;
		}

		#{$self}__error {
			@include make-container;
			@include make-container-max-widths;
			margin-top: 70px;
		}
	}

	.multiselect {
		position: relative;
		&__select {
			position: absolute;
		}
	}
}
