.footer {
	&__main-wrap {
		border-top: 1px solid $light-grey;
		padding-top: 40px;
		padding-bottom: 40px;
		@include media-breakpoint-up(sm) {
			border-bottom: 1px solid $light-grey;
		}
	}

	&__main {
		@include make-container;
		@include make-container-max-widths;
		position: relative;
		display: grid;
		align-items: center;
		@include media-breakpoint-up(lg) {
			grid-template-columns: 240px auto auto;
    		grid-template-rows: auto auto;
		}
	}

	&__logo {
		grid-row: span 2;
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}

	&__logo-img {
		max-height: 70px;
		max-width: 100%;
		@include media-breakpoint-up(lg) {
			padding-right: 40px;
		}
		@include media-breakpoint-up(xl) {
			max-height: 90px;
			padding-right: 80px;
		}
	}

	&__bottom-links {
		margin-top: 32px;
		text-align: center;
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			text-align: left;
		}
	}

	&__bottom-link {
		text-decoration: none;
		font-weight: $font-weight-bold;
		font-size: 1.4rem;
		&:not(:last-child) {
			margin-right: 30px;
			margin-bottom: 10px;
			@include media-breakpoint-up(sm) {
				margin-bottom: 0px;
				margin-right: 40px;
				display: inline-block;
			}
		}
		&:hover {
			text-decoration: underline;
		}
	}

	&__copy-acknowledge {
		margin-top: 20px;
		text-align: center;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			text-align: left;
		}
	}

	&__copyright {
		display: block;
		color: $warm-grey;
		font-size: 1.4rem;
		margin-top: 32px;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			display: inline-block;
		}
	}

	&__yump {
		display: block;
		margin-top: 11px;
		margin-left: 30px;
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			display: inline-block;
		}
	}

	&__yump-text {
		color: $warm-grey;
	}

	&__translate-text-wrap {
		margin-bottom: 4px;
	}

	&__translate {
		grid-row: span 2;
		text-align: center;
		margin-top: 30px;
		@include media-breakpoint-up(lg) {
			text-align: right;
			margin-top: 0px;
		}
	}

	&__translate-icon {
		color: $primary;
	}

	&__small-print {
		@include make-container;
		@include make-container-max-widths;
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
		}
	}

	&__ack-one {
		color: $warm-grey;
		font-size: 1.2rem;
		text-align: center;
		border-bottom: 1px solid $light-grey;
		border-top: 1px solid $light-grey;
		padding-top: 22px;
		padding-bottom: 22px;
		@include media-breakpoint-up(sm) {
			border: none;
		}
		@include media-breakpoint-up(md) {
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 68px;
			flex: 0 0 323px;
			text-align: left;
		}
	}

	&__ack-two {
		color: $warm-grey;
		flex-grow: 1;
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		@include media-breakpoint-up(sm) {
			flex-direction: row;
		}
		@include media-breakpoint-up(md) {
			border-left: 1px solid $light-grey;
			align-items: top;
			padding-left: 68px;
		}
	}

	&__ack-two-image-wrap {
		flex: 0 0 56px;
		margin-bottom: 16px;
		@include media-breakpoint-up(sm) {
			margin-right: 24px;
			margin-bottom: 0;
		}
	}

	&__ack-two-text {
		text-align: center;
		@include media-breakpoint-up(sm) {
			text-align: left;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
