.header {
	background-color: white;
	&__nav-wrap {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			@include make-container-max-widths;
			@include make-container;
		}
	}
	border-bottom: 1px solid $light-grey;
	@include media-breakpoint-down(sm) {
		max-height: 100VH;
    	overflow: auto;
	}

	&--sticky {
		/* The sticky class is added to the header with JS when it reaches its scroll position */
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
		max-height: 0;     
		transition: max-height 0.2s ease-in-out;       
        overflow-y: hidden;
		/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
		+ .banner {
			padding-top: 102px;
		}
		.nav--main {
			margin-top: 0;
		}
		.nav-utility {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				display: none;
			}
		}
		.nav__navbar {
			margin-top: 0;
			border-top: none;
			@include media-breakpoint-up(sm) {
				padding-top: 12px;
				padding-bottom: 6px;
			}
		}
		.nav__main-content-wrap {
			@include media-breakpoint-up(md) {
				max-width: calc(100% - 120px);
				margin-left: auto;
				align-self: center;
			}
			@include media-breakpoint-up(md) {
				display: flex;
				align-self: center;
			}
		}
		.nav__brand-img {
			// display: none;
			&--sticky {
				// display: gulpinline-block;
			}
		}
		.nav__item:not(:first-child) {
			@include media-breakpoint-up(md) {
				margin-left: 5px;
				text-align: center;
			}
			@include media-breakpoint-up(lg) {
				margin-left: 25px;
			}
		}
	}

	&--slide-down {
		max-height: 100VH; 
		overflow: auto;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			max-height: 200px; 
		}
	}
}
