.hero {
	@include media-breakpoint-up(lg) {
		margin-bottom: 150px;
	}
	&__cta-wrapper {
		@include make-container;
		@include make-container-max-widths;
		display: flex;
		justify-content: flex-end;
		@include media-breakpoint-up(md) {
			min-height: 650px;
		}
	}

	&__background-wrap {
		&--mobile {
			height: 214px;
			width: 100%;
			@include media-breakpoint-up(md) {
				display: none;
			}
		}
		&--desktop {
			@include media-breakpoint-down(sm) {
				background-image: none !important;
			}
		}
	}

	&__ctas {
		background-color: $white;
		box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px $soap;
		transform: translateY(-40px);
		@include media-breakpoint-up(md) {
			align-self: flex-end;
			transform: translateY(40px);
			height: 60%;
			max-width: 50%;
		}
	}

	&__cta-heading {
		font-weight: 700;
	}

	&__icon-wrap {
		margin-right: 23px;
		display: none;
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	&__cta {
		display: flex;
		padding: 32px;
		&:last-child {
			border-top: 1px solid $light-grey;
		}
	}

	&__cta-button {
		@include media-breakpoint-down(xs) {
			width: 100%;
			justify-content: center;
		}
	}
}