// see templates\_content-blocks\images.html
// slider class added if more than one image
@import "slick.scss";

$slider-dot-color: $white;
$image-caption-text-color: $pepper;

.matrix-block--image {
	.img-fluid {
		border-radius: 8px;
	}
	figure {
		margin-bottom: 0;
	}
}

.image-slider-wrap {
	position: absolute;
	visibility: hidden;
}

.slider {
	$self: &;
	&__nav-button {
		position: absolute;
		background: $dark-grey;
		box-shadow: none;
		border: none;
		z-index: 100;
		top: 50%;
		transform: translateY(-50%);
		@include hover-focus() {
			box-shadow: none !important;
			background-color: darken($dark-grey, 20%);
		}
		&--left {
			// https://bennettfeely.com/clippy/
			clip-path: ellipse(32% 40% at 0% 49%);
			padding: 23px 76px 28px 4px;
			left: 0;
		}
		&--right {
			// https://bennettfeely.com/clippy/
			clip-path: ellipse(32% 40% at 100% 49%);
			padding: 23px 4px 28px 76px;
			right: 0;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}
	}

	&__nav-button-ic-arrow {
		&--left {
			margin: 0 0 2px 5px;
		}
		&--right {
			margin: 0 5px 2px 0;
		}
	}

	&__nav-button-arrow-svg {
		width: 7px !important;
		&--left {
			transform: rotate(180deg);
		}
	}

	&__captions {
		display: flex;
		justify-content: space-between;
	}
}

// Slick overrides
.slider {
	.slick-arrow {
		opacity: 1;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		img {
			width: 11px;
			height: auto;
			@include media-breakpoint-up(md) {
				width: 11px;
			}
		}
	}
	.slick-arrow:hover {
		opacity: 1;
	}
	.slick-arrow:focus {
		outline: 2px dotted $primary;
		background-color: $primary;
		box-shadow: 0 0 0 5px #09f;
	}
	.slick-arrow:active {
		opacity: 1;
	}
	.arrow-previous {
		left: 0;
		z-index: 1;
		-webkit-appearance: none;
	}
	.arrow-next {
		right: 0;
		-webkit-appearance: none;
	}
	.slick-dots {
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);

		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			button {
				display: none;
				-webkit-appearance: none;
				box-shadow: none;
				border: none;
			}

			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $slider-dot-color;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&.slick-active {
				width: 16px;
				height: 16px;
			}
		}
	}
}
