/*Our Impact - Stats Section*/
.our-impact {
	padding: 80px 0;
	background: white;
	text-align: center;
	text-transform: uppercase;
	color: #555555;
	&__number {
		font-size: 60px;
		font-weight: bold;
		display: block;
		line-height: 1;
	}
}
