.ku-form {
	@include make-container;
	@include make-container-max-widths;
	padding-top: 50px;
	padding-bottom: 50px;

	&__submit {
		margin-top: 20px;
	}

	&__content-wrap {
		&--tight {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	&__content {
		margin-bottom: 30px;
	}

	&__label-heading {
		margin-top: 20px;
		margin-bottom: 0;
	}
}