.main {
	$self: &;
	@include fluid-property("padding-top", $gap-big-px, $gap-big-mobile-px);
	
	&__container {
		@extend %block-margin-y;
		&:first-child {
			@include fluid-property("margin-top", 0, 0);
		}
		&:last-child {
			@include fluid-property("margin-bottom", 0, 0);

			// padding at the end of the page (not end of child blocks in buttons or two columns) except where the block has a background colour
			&:last-child:not(.matrix-block--with-background):not(.matrix-block--richMedia):not(.matrix-block--richMediaFullWidth):not(.matrix-block--richMediaFullWidth) {
				@include fluid-property("padding-bottom", $gap-big-px, $gap-big-mobile-px);
			}
			// .matrix-block:not(.matrix-block--twoColumns):not(.matrix-block--buttons) {
			// }
		}
		&--crumbs {
			margin-bottom: 0;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		@include make-row();
	}

	&__articled-box {
		margin-left: auto;
		margin-right: auto;
		@include make-col-ready();
		@include make-col(12);
		max-width: 945px;
	}

	&__sidebar {
		order: 1;
		@include make-col-ready();
		@include media-breakpoint-up(md) {
			display: block;
			@include make-col(5);
			order: 1;
		}
		@include media-breakpoint-up(xl) {
			display: block;
			max-width: 456px;
		}
		//  if there is a sidebar - to prevent extra padding
		+ #{$self}__articled-box {
			margin-left: 0;
			margin-right: 0;
			order: 2;
			@include make-col-ready();
			@include make-col(12);
			@include media-breakpoint-up(lg) {
				@include make-col(7);
			}
			#{$self}__head {
				order: 2;
			
				@include make-col-ready();
				@include make-col(12);
				@include media-breakpoint-up(lg) {
					@include make-col(7);
				}
			}
		}
	}

	&__head {
		margin-left: auto;
		margin-right: auto;
	}

	&--no-padding-top {
		padding-top: 0;
	}
}



//cancel inner container's padding if we have containers inside containers
.container .container {
	padding-right: 0;
	padding-left: 0;
}
