.matrix-block {
	$self: &;
	@extend %block-margin-top;

	// these blocks should have a very small margin top (buttons will always belong to the previous block)
	&--buttons {
		@extend %block-margin-top--very-small;
	}
	// these blocks should have a smaller margin

	&--dividingLine {
		@extend %block-margin-top--small;
	}

	//these blocks should have no margin
	&--with-background,
	&--richMedia {
		@extend %no-margin-y;
	}

	//these blocks should have a large top margin
	&--imageCards {
		@extend %block-margin-top--big;
	}

	// Make the anchor point block just act like a standard heading
	&--anchorPoint {
		margin-bottom: 0;
		+ .matrix-block {
			margin-top: 0;
		}
	}

	&--video {
		+ #{$self}--richText {
			@extend %block-margin-top--big;
		}
	}

	&:first-child {
		@include fluid-property("margin-top", 0, 0);
	}

	&:last-child {
		@include fluid-property("margin-bottom", 0, 0);
	}
}

.matrix-block--column {
	position: relative;
	.matrix-block--video {
		@include media-breakpoint-up(md) {
			width: 100%;
		}
	}
}
