.modal {
	.close {
		opacity: 1;
	}
}

.modal-dialog-top-full {
	width: 100%;

	margin-top: 0;
	margin-left: 0;
	@include media-breakpoint-up(sm) {
		margin-top: 20px;
		margin-left: auto;
	}

}

.modal-header {
	align-items: center;
	.close {
		padding-right: 12px;
		padding-top: 14px;
	}
}

.modal-title {
	color: $primary;
	font-size: 1.6rem;
	font-weight: 700;
}