.nav-utility {
	$self: &;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid $light-grey;
	
	@include media-breakpoint-up($desktop-menu-breakpoint) {
		padding-bottom: 16px;
	}

	// Portriat Tablet Shennanigans
	@include media-breakpoint-between($desktop-menu-breakpoint, md) {
		border-bottom: 0;
	}

	&__logins {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			margin-left: 32px;
		}
	}

	&__search {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			margin-left: 32px;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			margin-left: 0;
			order: 3;
			grid-row: 2;
			grid-column: 2 / span 2;
		}
	}

	&__contact {
		text-decoration: none;
		font-weight: 700;
		&:hover {
			text-decoration: underline;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			grid-column: 2;
			font-size: 1.4rem;
		}
	}

	&__portal-btn {
		&:hover {
			background-color: $secondary;
			color: $primary;
			path {
				fill: $primary;
			}
		}
	}

	&--mobile {
		flex-direction: column;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: none;
		}
		#{$self}__contact {
			padding: 18px 16px;
			width: 100%;
			border-bottom: 1px solid $light-grey;
			justify-content: space-between;
		}
		#{$self}__search-link {
			padding: 18px 16px;
			font-weight: $font-weight-bold;
			width: 100%;
			border-bottom: 1px solid $light-grey;
			justify-content: space-between;
		}
		#{$self}__search-icon {
			width: 14px;
			path {
				fill: $primary;
			}
		}
		#{$self}__logins {
			padding: 18px 16px;
			align-self: center;
		}
	}

	&--desktop {
		display: none;
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			display: flex;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			grid-column-start: 2;
			display: grid;
			grid-template-rows: 1fr min-content;
			padding-left: 50px;
			padding-bottom: 15px;
		}
	}

}