.nav {
	$self: &;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	padding-top: 0;
	margin-top: 1.3rem;
	@include media-breakpoint-up($desktop-menu-breakpoint) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	
	&__brand {
		text-decoration: none;
	}

	&__brand-img {
		// margin-bottom: 0;
		// width: auto;
		// height: 46px;
		// @include media-breakpoint-up($desktop-menu-breakpoint) { 	
		// 	// height: 76px;
		// }
		// @include media-breakpoint-up(xl) {
		// 	height: 90px;
		// }
		// &--sticky {
		// 	// display: none;
		// 	height: 46px;
		// 	@include media-breakpoint-up($desktop-menu-breakpoint) { 	
		// 		height: 52px;
		// 	}
		// }
		//idfm have a different logo
        margin-bottom: 0;
        width: 115px;
        height: auto;
        @include media-breakpoint-up(lg) { 	
            width: 200px;
            height: auto;
        }
	}

	&__main-content-wrap {
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			margin-left: 25px;
		}
		@include media-breakpoint-up(xl) {
			margin-left: 50px;
		}
		
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			display: grid;
			grid-template-columns: 191px 1fr;
			grid-template-rows: 1fr min-content;
		}
	}

	&__navbarsupportedcontent {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			justify-content: flex-end;
		}

		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			grid-column: 1 / span 2;
			// justify-content: space-between;
		}
	}

	&__navbar {
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			margin-top: 24px;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			grid-column: 1 / span 2;
			justify-content: space-between;
			// width: 100%;
			border-top: 1px solid $light-grey;
			padding-top: 18px;
			margin-top: 6px;
		}
	}

	&__item {
		&:not(:first-child) {
			@include media-breakpoint-up($desktop-menu-breakpoint) {
				margin-left: 18px;
			}
			// Portriat Tablet Shennanigans
			@include media-breakpoint-between($desktop-menu-breakpoint, md) {
				margin-left: 12px;
			}
			@include media-breakpoint-up(xl) {
				margin-left: 30px;
			}
		}
		&.current {
			#{$self}__link {
				color: $primary;
			}
		}
	}
	
	&__link {
		color: $black;
		text-decoration: none;
		font-size: 1.6rem;
		@include hover-focus {
			text-decoration: underline;
			color: $primary;
		}
		@include media-breakpoint-down($mobile-menu-breakpoint) {
			border-bottom: 1px solid $light-grey;
			padding: 18px 16px;
			display: block;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			line-height: 1;
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			font-size: 1.4rem;	
			// font-size: 1.5rem;	
		}
		@include media-breakpoint-up(xl) {
			font-size: 1.8rem;
		}
	}

	&__logo-and-mobile-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-down($mobile-menu-breakpoint) {
			@include make-container;
			width: 100%;
			padding-top: 12px;
			padding-bottom: 13px;
			box-shadow: 0 19px 25px -25px rgba(0, 0, 0, 0.2);
		}
		@include media-breakpoint-up($desktop-menu-breakpoint) {
			width: auto;
		}
		// Portriat Tablet Shennanigans
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			position: absolute;
			top: 2rem;
		}
	}
}
.template--homepageNswAct-homepageNswAct {
	.nav {
		&__item:not(:first-child){
			padding-left: 10px;
		}
		&__link {
			@include media-breakpoint-up(md) {
				font-size: 1.8rem;
			}
		}
		// &__brand-img{
		// 	@include media-breakpoint-up(xl) {
		// 		height: 80px;
		// 	}
		// }
	}
}

.header--sticky {
    .nav__brand-img {
        width: 115px;
        @include media-breakpoint-up(lg) {
            width: 200px;
            height: auto;
            // height: 86.6px;
        }
    }
}