.program-details {
	$self: &;
	margin-top: 40px;
	position: relative;
	@include media-breakpoint-up($rich-media-breakpoint-up) {
		padding-bottom: 100px;
		margin-top: 0px;
	}
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 106px;
		position: absolute;
		background-color: $secondary;
		top: -40px;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			display: none;
		}
	}

	@include media-breakpoint-up($rich-media-breakpoint-up) {
		background-color: $secondary;
	}

	&__row {
		@extend %banner__row;
		position: relative;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			flex-wrap: nowrap;
			bottom: 40px;
		}
		&::after {
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: -6%;
				z-index: 1;
				width: 85%;
				height: 112%;
				background-color: $white;
			}
		}
	}

	&__column {
		z-index: 2;
		&--video {
			@extend %banner__column--media;
			max-height: initial;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				flex: 0 0 40%;
			}
		}
		&--content {
			padding-top: 20px;
			padding-bottom: 20px;
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				order: 1;
				padding-top: $gap-mobile;
				padding-bottom: $gap-mobile;
			}
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				padding-right: 55px;
				padding-left: 80px;
				flex: 0 0 60%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	&__video-text-content {
		background-image: url("/assets/img/jpg/#{$theme-name}/texture.jpg");
		background-size: cover;
		padding: 24px;
		color: $white;
	}

	&__video-heading {
		@extend %sub-heading;
		font-weight: 700;
		color: $white;
	}

	&__video-transcript-link {
		color: $white;
		font-weight: 700;
		@include hover-focus {
			color: $white;
			text-decoration: none;
		}
		&:focus {
			outline: 2px dotted $white;
		}
	}

	&__heading {
		@extend %main-heading;
	}

	&__ctas {
		@include reset-list-styles;
	}

	&__cta-li {
		&:not(:last-child) {
			#{$self}__cta-link {
				border-bottom: 1px solid $other-soap;
			}
		}
	}

	&__cta-link {
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
		text-decoration: none;
		font-weight: $font-weight-bold;
		padding: 11px 0;
		&:hover {
			color: $primary;
			text-decoration: underline;
			&::after {
				right: 0;
			}
		}
		&::after {
			content: "";
			width: 7px;
			height: 12px;
			display: inline-block;
			position: absolute;
			right: 2px;
			background-image: url(/assets/img/svg/ic-caret-right.svg);
			background-size: 7px 12px;
			transition: all 0.2s ease-in-out;
		}
	}
}
