.quote {
	display: flex;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}

	&__icon-wrap {
		margin-right: 39px;
	}

	&__icon-colour {
		fill: $accent1;
	}

	&__main-content {
		flex-grow: 1;
		font-weight: 300;
		margin-right: 0;
		font-size: 2.4rem;
		color: $warm-grey;
		margin-top: 16px;
		@include media-breakpoint-up(md) {
			margin-right: 40px;
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__subsidiary-content {
		flex-grow: 0;
		min-width: 180px;
		border-left: 2px solid $accent1;
		padding-left: 14px;
		font-size: 1.4rem;
		margin-top: 16px;
		margin-bottom: auto;
		@include media-breakpoint-up(md) {
			padding-bottom: 24px;
			margin-top: 0;
		}
	}

	&__author {
		display: block;
		color: $primary;
		font-weight: $font-weight-bold;
	}

	&__author-title {
		color: $greyish-brown;
		display: inline-block;
		margin-top: 11px;
	}
}