.resource-detail-header {
	&__title {
		@extend %main-heading;
	}

	&__top-tags {
		margin-bottom: 25px;
	}

	&__bottom-tags {
		margin-top: 24px;
	}

	&__tag {
		@extend %tag;
		&--top {
			@extend %tag--top;
		}
		&--bottom {
			@extend %tag--bottom;
		}
	}
}