.resource-list {
	&__loadmore-wrapper {
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;
		}
	}
	&__results {
		padding-bottom: 40px;
		@include media-breakpoint-up(xl) {
			padding-bottom: 48px;
		}
	}

	&__resultscount {
		padding-bottom: 20px;
		background-color: $secondary;
	}

	&__featured-wrap {
		background-color: $secondary;
		padding-bottom: 50px;
	}

	&__not-featured {
		margin-top: 50px;
	}

	&__notfound {
		margin-top: 50px;
	}

	&__error {
		@include make-container;
		@include make-container-max-widths;
		margin-top: 70px;
		margin-bottom: 70px;
	}
}