.rich-text {
	// use .container class instead
	& > *:last-child {
		margin-bottom: 0;
	}

	img {
		max-width: 100% !important;
		height: auto !important;
	}
	// h1, h2, h3, h4 {
	// }
	p:not(.lead-text) {
		@extend %body-text;
		margin-bottom: 1.6rem;
		+ h2,
		+ h3 {
			margin-top: 2.3rem;
		}
	}

	figure {
		margin-bottom: 1.6rem; 
	}

	// TODO: Should they be able to add an H1 in at all?
	h1 {
		@extend %main-heading;
	}
	h2 {
		@extend %alt-main-heading;
	}
	h3 {
		@extend %secondary-heading;
	}
	h4 {
		@extend %sub-heading;
	}
	.lead-text {
		@extend %lead-text;
	}

	li {
		@extend %body-text;
		list-style: none;
		line-height: 1.6;
		margin-bottom: 5px;
		p {
			display: inline-block;
			&:last-child() {
				margin-bottom: 0
			}
		}
	}

	ol {
		@include fluid-property("padding-inline-start", 24, 12);
		counter-reset: ol;
		padding-inline-start: 0;
		li {
			&:before {
				counter-increment: ol;
				content: counter(ol) ".";
				// position: absolute;
				// @include fluid-property('left', 24, 12);
				margin-right: 0.8rem;
				margin-left: -1.2rem;
				color: $primary;
			}
			p {
				display: inline-block;
			}
		}
	}

	ul ul, ol ol {
		margin-top: 4px;
		margin-bottom: 6px;
	}

	ul {
		padding-inline-start: 0;
		li {
			padding-inline-start: 1.8rem;
			position: relative;
			&:before {
				content: "";
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 6px solid $primary;
				margin-right: 1.2rem;
				margin-left: -2.1rem;
				@include media-breakpoint-down($rich-media-breakpoint-down) {
					margin-left: -1.6rem;
				}
			}

			@include media-breakpoint-up(lg) {
				padding-inline-start: 2.4rem;
				&:before {
					position: absolute;
					height: 6px;
					width: 6px;
					top: 10px;
				}
			}
		}
	}
}
