/* 
* @type This is a secondary content area banner.
* @extends banner from src\styles\base\design-system\_ds-banner.scss.
*/
.rich-media {
	$self: &;
	position: relative;
	
	&__media {
		&--image {
			min-height: 390px;
		}
	}
	
	&__row {
		@extend %banner__row;
	}

	&__column {
		@extend %banner__column;
		overflow: visible;
		&--media {
			@extend %banner__column--media;
			// media column always goes first on mobile / portrait view, otherwise (desktop / landscape view), respect the initial order (set in CMS)
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				order: 0;
			}
		}
		&--text {
			@extend %banner__column--text;
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				order: 1;
			}
		}
	}

	&__text-content-wrap {
		@extend %banner__text-content-wrap;
	}

	&__text-content-heading {
		@extend %secondary-heading;
		font-weight: $font-weight-bold;
	}

	&__text-content-ctas {
		@extend %banner__text-content-ctas;
	}

	&__text-content-cta {
		width: 100%;
		justify-content: center;
		@include media-breakpoint-up(sm) {
			width: auto;
		}
	}

	&__img {
		min-height: 390px;
		height: 100%;
		width: 100%;
	}

	&--bordered {
		margin-top: 12.5%;
		margin-bottom: 12.5%;
		#{$self}__column {
			position: relative;
		}
		#{$self}__column--text {
			border-bottom: 1px solid $grey;
			@include media-breakpoint-down($rich-media-breakpoint-up) {
				background-color: $white;
				padding-top: 30px;
				border-left: 1px solid $grey;
				border-right: 1px solid $grey;
				border-bottom: 0;
			}
		}
		#{$self}__media {
			// box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
			width: 90%;
			position: relative;
			left: 5%;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
				transform: none;
				width: 100%;
				left: 0;
			}
		}
		&::after {
			content: "";
			border: 1px solid $grey;
			z-index: -1;
			left: 0;
			top: 25%;
			width: 100%;
			height: 75%;
			position: absolute;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				height: 125%;
				top: -12.5%;
				width: 75%;
			}
		}
	}

	&--background-textured {
		margin-top: 12.5%;
		margin-bottom: 12.5%;
		&::after, &::before {
			content: "";
			left: 0;
			top: 25%;
			width: 100%;
			height: 75%;
			position: absolute;
			border: none;
			background-image: none;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				height: 125%;
				top: -12.5%;
				width: 75%;
			}
		}
		// Textured background
		&::after {
			z-index: -5;
			background-image: url('/assets/img/jpg/#{$theme-name}/texture.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		// gradient over textured background
		&::before {
			z-index: -4;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
			}
		}

		#{$self}__media {
			width: 90%;
			position: relative;
			left: 5%;
			@include media-breakpoint-down(xs) {
				min-height: 180px;
			}
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				left: 0;
			}
		}

		#{$self}__column--media {
			max-height: initial;
		}
		#{$self}__text-content-heading,
		#{$self}__text-content-summary {
			color: $white;
		}
	}

	// Moving the border or background to the correct side
	&--first-col-text {
		&::after, &::before {
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				margin-right: 25%;
			}
		}
	}

	&--first-col-media {
		&::after, &::before {
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				margin-left: 25%;
			}
		}
	}

	&--full-width {
		background-color: $secondary;
		#{$self}__media {
			&--image {
				@extend %banner__media--image;
			}
		}
		#{$self}__row {
			@include media-breakpoint-up(lg) {
				max-height: 540px;
			}
		}
		#{$self}__column {
			@include media-breakpoint-up(lg) {
				max-height: 540px;
			}
			&--media {
				overflow: hidden;
			}
		}
	}
}
