$search-bar-height: 56px;
$input-padding: 10px;
$search-bar-lh: $search-bar-height - ($input-padding * 2);

.search-bar {
	padding: 0;

	&--js {
		background-color: $primary;
		display: none;
	}

	&--crumbs {
		background-color: $pepper;
	}

 	&--with-close {
		//make room for the close button if present
		.search-bar-form {
			padding-right: 27px;
			@include media-breakpoint-up(sm) {
				padding-right: 15px;
			}
			&__btn {
				right: 37px;
				flex: 0 0 54px;
				@include media-breakpoint-up(sm) {
					right: 27px;
				}
			}
		}
	}

	&__container {
		position: relative;
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			grid-column: 1 / span 3;
			margin-top: 15px;
		}
	}

	//optional close button
	&__close {
		color: $white;
		position: absolute;
		top: 0;
		right: 15px;
		line-height: $search-bar-height;
		@include media-breakpoint-up(sm) {
			right: 0;
		}
	}

	&__form {
		position: relative;
		width: 100%;
	}
	
	&__form-input {
		//search input
		width: 100%;
		min-width: 197px;
		line-height: $search-bar-lh;
		border-radius: 8px;
		@include media-breakpoint-up(sm) {
			padding-right: 0;
		}
		@include media-breakpoint-between($desktop-menu-breakpoint, lg) {
			padding: 0.35rem 1.65rem;
			line-height: 32px;
			height: 32px;
		}
		@include media-breakpoint-between($desktop-menu-breakpoint, md) {
			min-width: 100%;
		}
	}
	
	&__form-button {
		//submit button
		@include clear-appearance;
		position: absolute;
		top: 4px;
		right: 10px;
		// Portriat Tablet Shennanigans
		@include media-breakpoint-up(lg) {
			top: 2px;
		}
		@include media-breakpoint-up(xl) {
			top: 4px;
		}
		@include media-breakpoint-down(xs) {
			padding-left: 1.2rem;
			padding-right: 1.2rem;
		}
	}

	&__form-search-icon {
		//search icon
		line-height: $search-bar-height;
		height: 14px;
		display: inline-block;
		path {
			fill: $primary;
		}
	}
}
