.search-results-item-breadcrumbs {
	@include media-breakpoint-up(sm) {
		display: block;
	}
	background: none;
	margin-top: 1.25rem;
	padding-top: 0;
	&__list {
		list-style: none;
		margin-bottom: 5px;
		display: flex;
		padding: 0;
		padding-left: 0;
		height: auto;
		background-color: transparent;
	}

	&__icon {
		position: relative;
		bottom: 1px;
		@include media-breakpoint-up(lg) {
			margin-left: 0.4rem;
			margin-right: 0.4rem;
		}
	}
}
