.section-head {
	$self: &;
	
	&__heading {
		@extend %section-head__heading;
	}

	&__summary {
		@extend %section-head__summary;
	}

	&--has-summary {
		@extend %section-head--has-summary;
	}
	
	&--no-summary {
		@extend %section-head--no-summary;
	}
	&__top-tag {
		@extend %tag;
		@extend %tag--top;
		position: relative;
		padding: 0.4rem 0.8rem;
		margin-bottom: 2rem;
		&::before {
			content: "";
			display: inline-block;
			width: 6px;
			height: 6px;
			background-color: $primary;
			border-radius: 100%;
			margin-right: 0.8rem;
		}
	}

	&__bottom-tag{
		@extend %tag;
		@extend %tag--bottom;
	}
	
	&--has-button {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
		#{$self}__cta {
			margin-top: 20px;
			min-width: 120px;
			text-align: left;
			@include media-breakpoint-up(md) {
				margin-top: auto;
				margin-left: auto;
				text-align: right;
			}
		}
		#{$self}__summary {
			@include media-breakpoint-up(md) {
				margin-right: 20px;
			}
		}
	}

	&--no-button {
		@extend %section-head--no-button;
	}

	&--fancy {
		@extend %section-head--fancy;
	}

	// Targeting specific blocks for tweaks:
	&--accordion {
		@include fluid-property('margin-bottom', 16);
	}

	// These differs from the default centering for no button fancy style
	&--related-resources, &--related-news, &--other-equipment {
		&.section-head--no-button {
			text-align: left;
		}
		#{$self}__heading {
			margin-bottom: 39px;
		}
	}
	
	// Large heading on the Downloads block - may need either a modifier for each block that should have it or perhaps the admin should be able to choose?
	&--downloads {
		#{$self}__heading {
			@extend %alt-main-heading;
		}
	}

	// Body text style summaries
	&--downloads, &--news-cards,  &--custom-form {
		#{$self}__summary {
			@extend %section-head__summary--dulled;
			color: $body-color;
		}
	}

	// https://www.bugherd.com/projects/258866/tasks/25 just for news-cards...
	&--news-cards {
		#{$self}__heading {
			padding-top: 20px;
		}
	}

	&--news-landing {
		@extend %section-head--fancy;
		#{$self}__heading {
			margin-bottom: 39px;
			text-align: center;
		}
	}
}
