.sidebar {
    &__image{
        @include fluid-property("margin-bottom", 32, 24);
    }
	&__link {
		display: flex;
		align-items: center;
		@include fluid-property("margin-bottom", 32, 24);
		&::before {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			border-right: 7px solid $accent1;
            margin-right: 1.2rem;
		}
	}
}
