.sidebar-refine-search {
	&__heading {
		margin-bottom: 2.4rem;
		color: $pepper;
		@include media-breakpoint-up(lg) {
			margin-bottom: 2.8rem;
		}
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 4rem;
	}
	&__inner {
		background-color: $white;
	}
	&__control {
		padding-left: 3rem;
		&:not(:last-child) {
			margin-bottom: 1.9rem;
		}
	}
	&__control-label {
		color: $black;
		&:before {
			top: 0.2rem;
			width: 2rem;
			height: 2rem;
			left: -3rem;
		}
		&:after {
			top: 0.2rem;
			width: 2rem;
			height: 2rem;
			left: -3rem;
		}
	}
}
