.site-summary {
	$self: &;
	position: relative;
	padding-top: 40px;
	background-color: $white;
	@include media-breakpoint-up($rich-media-breakpoint-up) {
		background-color: $secondary;
		padding-top: 0px;
		padding-bottom: 100px;
		margin-top: 0px;
	}

	&__row {
		@extend %banner__row;
		position: relative;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			flex-wrap: nowrap;
		}
		&::after {
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: -15%;
				z-index: 1;
				width: 85%;
				height: 130%;
				background-color: $white;
				border-left: 4px solid $accent2;
			}
		}
	}

	&__column {
		z-index: 2;
		&--highlighted {
			@extend %banner__column--media;
			background-image: url("/assets/img/jpg/#{$theme-name}/texture.jpg");
			background-size: cover;
			padding: 40px;
			color: $white;
			li,
			a {
				color: $white;
			}
			a {
				&:focus {
					outline: 2px dotted $white;
				}
			}
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				order: 2;
				margin-bottom: 40px;
			}
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				flex: 0 0 40%;
			}
		}
		&--main {
			padding-top: 20px;
			padding-bottom: 20px;
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				order: 1;
				padding-top: 10px;
				padding-bottom: $gap-mobile;
			}
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				padding-right: 55px;
				padding-left: 80px;
				flex: 0 0 60%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			@include media-breakpoint-up(xl) {
				padding-right: 120px;
			}
		}
	}

	&__main-lead {
		@extend %lead-text;
		color: $primary;
	}

	&__main-secondary {
		@extend %minor-lead-text;
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid $light-grey;
	}

	&__hl-summary {
		@extend %minor-lead-text;
	}
}
