.slider-item {
	$self: &;

	&__caption-counter {
		font-weight: 500;
		font-size: 16px;
		color: $pepper;
		margin-left: auto;
	}

	&__caption,
	&__caption-text,
	&__caption-counter {
		color: $image-caption-text-color;
		font-family: $headings-font-family;
		font-weight: 900;
		font-size: 14px;
		margin-top: 1.9rem;
	}

	&__caption {
		padding-left: 14px;
		border-left: 2px solid $accent1;
	}

	&__caption-text {
		> #{$self}__caption-text {
			padding-left: 0;
			border-left: 0px solid $accent1;
		}
	}

	// Because a static image will still be a ".slider-item"
	&--in-slider {
		#{$self}__caption {
			display: none; // we handle a slider caption differently using javascript
		}
	}
}