.social-links {
	$self: &;
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	&__link {
		margin-right: 10px;
		width: 30px;
		height: 30px;
		overflow: hidden;
		text-decoration: none;
		@include hover-focus {
			#{$self}__icon {
				transform: scale(0.99) rotate(0.02deg);
			}
		}
	}
	&__icon {
		transition: transform 0.3s;
		transform: scale(0.9);
	}
}