table {
	width: 100%;
	thead {
		tr th {
			color: $black;
			background-color: $pale-grey-2;
		}
	}
	@include media-breakpoint-up(lg) {
		tr {
			td {
				.table_title {
					display: none;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		display: block;
		border-left: 0;
		border-right: 0;

		&.table-bordered {
			border: 0;
			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #e1e1e1;
				}
			}
		}
		&.table-bordered td {
			border: 0;
		}
		thead {
			display: none;
		}
		tbody {
			display: block;
		}
		tr {
			display: block;
			padding-top: 1.6rem;
			padding-bottom: 1.6rem;

			td:not(:last-child) {
				margin-bottom: 1.2rem;
			}
			td {
				display: block;
				border: none;
				padding-top: 0;
				padding-bottom: 0;
				.table_title {
					font-size: 1.2rem;
					font-weight: bold;
				}
			}
		}
	}
}
