.top-alert {
	$self: &;
	display: none;
	z-index: 1030;
	background-color: $pale-bg;
	padding-top: 13px;
	padding-bottom: 13px;

	&__content-wrap {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: flex-start;
		@include make-container();
		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
		}
		@include media-breakpoint-up(lg) {
			@include make-container-max-widths();
			padding: 30px;
		}
	}

	&__content {
		padding-right: 10px;
		flex-grow: 1;
		@include media-breakpoint-up(sm) {
			text-align: left;
		}
		p,
		a {
			@extend %body-text;
			font-weight: normal;
			margin-bottom: 0;
		}
		a {
			text-decoration: underline;
			color: $greyish-brown;
			font-weight: bold;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	&__info-icon-wrap {
		display: none;
		flex-grow: 0;
		margin-right: 19px;
		margin-top: 3px;
		@include media-breakpoint-up(sm) {
			display: inline-block;
		}
	}

	&__info-icon {
		path {
			fill: $primary;
		}
	}

	&__close-btn {
		@include clear-appearance;
		flex-shrink: 0;
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}

	&__close-icon {
		fill: $primary;
	}
}
