.two-columns {
	$self: &;

	&__row {
		@include make-row();
	}

	&__column {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(md) {
			@include make-col(6);
		}

		.rich-text {
			display: block;
			figure {
				@include media-breakpoint-down(sm) {
					margin-bottom: 24px;
				}
			}
		}
	}

	&--top {
		#{$self}__column {
			display: flex;
			align-items: flex-start;
		}
	}

	&--center {
		#{$self}__column {
			display: flex;
			align-items: center;
		}
	}
	
	&--bottom {
		#{$self}__column {
			display: flex;
			align-items: flex-end;
		}
	}

	.matrix-block--video {
		margin-top: 0;
	}
}
