.video-transcript {
	text-align: right;
	padding: 8px $grid-gutter-half;
	color: $primary;

	&__link {
		color: $primary;
	}

	@include media-breakpoint-up($rich-media-breakpoint-up) {
		background-color: $secondary;
	}
}