.video {
	&__iframe-wrapper {
		width: 100%;
		margin: 0 auto;
	}
	&__aspect-ratio {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; // 16:9;
	}
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border: 0;
	}
}
