{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Page Not Found") %}

{% block errorContent %}
	{% import '_macros' as macros %}
	<p class="lead-text">Sorry, we can’t find the page you're looking for. Please return to homepage.</p>
	<div class="error-page__cta">
		{{ macros.button({
			link: '/',
			text: 'Return to homepage'
		}) }}
	</div>
{% endblock %}