{# CTA Block with Icon, Heading, Summary and Button  #}
{% import '_macros' as macros %}
<div class="hero__cta">
	{% set icon = cta.icon.one() ?? null %}
	{% if icon %}
		<div class="hero__icon-wrap">
			{{ macros.svg({
				icon: icon,
				attributes: {'class': 'hero__icon'}
			}) }}
		</div>
	{% endif %}
	<div class="hero__cta-content">
		<h3 class="hero__cta-heading">{{cta.heading}}</h3>
		<div class="hero__cta-summary">{{cta.summary}}</div>
		{{ macros.cta({
			field: cta.cta,
			additionalClasses: 'hero__cta-button'
		}) }}
	</div>
</div>
