{% import '_macros' as macros %}
{% set hero = craft.yump.getHeroWithCtas(entry) %}
<div class="hero">
	<div class="hero__background-wrap hero__background-wrap--mobile" style="{{- macros.thumbnail({ image: hero.background.image.one(), imagerSettings: { width: 1600, },outputAsBackgroundImage: true, }) -}}"></div>
	<div class="hero__background-wrap hero__background-wrap--desktop" style="{{- macros.thumbnail({ image: hero.background.image.one(), imagerSettings: { width: 1600, },outputAsBackgroundImage: true, }) -}}">
		<div class="hero__cta-wrapper">
			<div class="hero__ctas">
				{% for cta in hero.ctas %}
					{% include '_content-blocks/hero-image-with-ctas/callToAction' with {cta: cta} %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
