// QLD Colours
$ku-red: #cc0000;
$ku-orange: #ff9933;
$rouge: #981a22;
$deep-sea-blue: #00507c;

$pale-beige: #fdf6f6;

// Required Colour Variables for a theme
$primary: $ku-red;

$secondary: $pale-beige;
$pale-bg: $pale-beige; //background of alert
$accent1: $ku-red;
$accent2: $ku-orange;

$link-color: $primary;
$button-default-hover: $rouge;