.error-page {
    min-height: 200px;
    display: flex;
    align-items: center;
	justify-content: center;
	@include media-breakpoint-up(lg) {
		min-height: 400px;
	}
	&__content {
		max-width: 506px;
		text-align: center;
	}
	&__cta {
		margin-top: 2.4rem;
	}
}
