// for post page. E.g. blog post page
$blog-news-post-container: (
  sm: 540px,
  md: 720px,
  lg: 967px,
  xl: 967px
);

.post {

	//.neo-main-content {
	//	padding-top: 0!important;
	//}
	.main {
		@include fluid-property('padding-top', 0, 0);

		&__container.container {
			@include make-container-max-widths($blog-news-post-container);

			&:first-child {
				@include fluid-property('margin-top', 32);
				@include fluid-property('margin-bottom', $gap-px, $gap-mobile-px);
			}

			&.main__container--post-header {
				margin-bottom: 3rem;
				+ .main__container {
					margin-top: 3rem;
				}
			}
		}

		&__row {
			justify-content: center;
		}

		&__articled-box {
			@include make-col-ready();
			@include media-breakpoint-up(lg) {
				@include make-col(12);
				// order: 2;
			}
		}
	}

	&__back {
		@include fluid-property('margin-top', 35);
		@include fluid-property('margin-bottom', 50);
		a {
			@include fluid-type($body);
			span {
				color: $primary;
				font-weight: 700;
			}
			i {
				margin-right: 7px;
			}
		}
	}

	&__latest-posts {
		@include make-row();
	}

	&__latest-posts-wrap {
		@include fluid-property('margin-top', 70, 20);
		> h2 {
			@include fluid-property('margin-bottom', 30);
		}
	}

	&__heading {
		width: 776px;
		max-width: 100%;
	}

	&__heading-text {
		@extend %main-heading;
		margin-top: 0;
	}

	&__featured-image--no-caption {
		box-shadow: 0 3px 0 0 #d2d2d2;
	}

	&__summary {
		@extend %minor-heading;
	}

	&__heading-date {
		margin-top: 5px;
		margin-bottom: 0px;
		display: inline-block;
	}

	&__heading-date-text {
		color: $off-black;
		position: relative;
		top: 3px;
		margin-left: 4px;
	}
	
	&--thank-you-page {
		.before-boxed {
			@include media-breakpoint-down(xs) {
				margin-top: 0;
			}
		}
	}
}

.post-list-wrap {
	margin-top: 5.9rem;
}
