.search-results {
	&__content {
		margin-top: 48px;
		margin-bottom: 48px;
	}

	&__heading {
		@extend %main-heading;
	}

	&__count {
		color: $pepper;
		@include fluid-property("margin-bottom", 41);
	}

	&__list {
		list-style: none;
		padding-left: 0;
		& > li {
			&:not(:last-child) {
				margin-bottom: 42px;
			}
			.highlight {
				// color: $white;
				background-color: #ffff59;
				padding: 4px 0;
			}
		}
	}

	&__excerpt {
		font-size: 1.5rem;
		font-weight: 300;
		color: $black;
	}

	&__item-title-link {
		color: $pepper;
		transition: all 0.3s;
		font-size: 1.9rem;
		line-height: 28px;
		font-weight: bold;
		&:focus,
		&:hover,
		&:active {
			color: $pepper;
		}
	}
}
