{#
   Render card HTML
   
   @param [array] card: when including this template, the card param should have already been processed / formatted into an array. See YumpModuleService->translateCardBio() for the attributes in a card array
#}

{% import '_macros' as macros %}

{% set delay = index is defined and index ? index * 0.1 : '' %}
{% set cardType = card.cardType ?? null %}
{% set cardClasses = cardType ? "card card--" ~ card.cardType ~ ' ' : 'card' %}
{% set cardUrl = card.url ?? '' %}
{% set cardHeading = card.heading ?? null %}
{% set cardSummary = card.summary ?? null %}

<article class="{{ cardClasses }} {{ additionalClasses|default('') }}" data-animation-delay="{{ delay }}" data-link="{{ cardUrl }}">
	<div
		class="card__body">
		{# next line is for specialist library available tag only #}
		{% if card.singleTag is defined and card.singleTag %}
			<strong class="card__tags card__top-tags">
				<span class="card__tag card__tag--top {{ card.availableClass }}">{{ card.singleTag }}</span>
			</strong>
		{% endif %}
		{# next section is for top tags in resources #}
		{% if card.topTags is defined and card.topTags|length %}
			<ul class="card__tags card__top-tags">
				{% for tag in card.topTags %}
					<li class="card__tag card__tag--top">{{ tag.title }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{# next section is the title link for any card #}
		<a class="card__title-link" href="{{ cardUrl }}" {% if card.ctaTarget is defined %} target="{{ card.ctaTarget }}" {% endif %}>
			<h4 class="card__title">
				{{ cardHeading }}
			</h4>
		</a>
		{# next section is for news cards post date #}
		{% if cardType and cardType == "news" and  card.postDate %}
			<div class="card__post-date-wrap">
				{{macros.svg({
					'name': 'ic-calendar',
					'attributes': { 'class': 'card__calendar-icon'}
				})}}
				<span class="card__post-date">{{ card.postDate }}</span>
			</div>
		{% endif %}
		{# next section is summary for any card #}
		{% if cardSummary %}
			<div class="card__summary">{{ card.summary }}</div>
		{% endif %}
		
		{# next section is card bottom tags #}
		{% if card.bottomTags is defined and card.bottomTags|length %}
			<ul class="card__tags card__bottom-tags">
				{% for tag in card.bottomTags %}
					<li class="card__tag card__tag--bottom">{{ tag.title }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	{# next section is the image which is linked to the page without anchor tag #}
	{% if cardType == 'image' %}
		{% set thumbnailUrl = card.thumbnailUrl | default(craft.yump.getConfig('imageCardPlaceholderUrl')) %}
		{% if thumbnailUrl %}
			<figure class="card__image-wrap animate-zoom-in animate-when-visible">
				<img class="img-fluid card__img" src="{{ thumbnailUrl }}" alt="{{ card.imageAlt|default(null) }}">
			</figure>
		{% endif %}
	{% endif %}
</article>
