<div class="video-transcript {{wrapperClass}}">
	<div class="video-transcript__cta">
		<a class="video-transcript__link" data-toggle="collapse" data-target="#transcript-{{block.id}}" aria-expanded="false">
			<span>View Video Transcript</span>
		</a>
	</div>
	<div id="transcript-{{block.id}}" class="collapse video-transcript__content">
		{{videoTranscript}}
	</div>
</div>