// BS-Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Override the BS defaults here
// at 1024 we can have 944

$container-max-widths: (
  sm: 540px,
  md: 932px,
  lg: 1024px,
  xl: 1292px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1366px,
  xxl: 1600px,
);
$grid-gutter-width: 48px;
$grid-gutter-half: ($grid-gutter-width / 2);
