// BS Font Variables
$headings-font-family: "FSAlbert", Arial, sans-serif;
$font-family-base: "FSAlbert", Arial, sans-serif;

// Size, colour
$headings-color: $primary;
$body-color: $greyish-brown;
$font-size-base: 1.6rem; // Assumes the browser default, typically `16px`
$headings-margin-bottom: 1.6rem;

// Typography Layout
$spacer: 1.6rem;
$paragraph-margin-bottom: 1.6rem;

// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

// $font-weight-light:           300;
// $font-weight-normal:          400;
// $font-weight-bold:            700;

// $font-weight-base:            $font-weight-normal;
// $line-height-base:            1.5;

// BS Headings Font Sizes:
// $h1-font-size:                $font-size-base * 2.8;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.625;
// $h4-font-size:                $font-size-base * 1.25;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;
