// This file sets colours for ALL three sites
// Also see each theme settings file

// BS Colours 
$success:       #0cac78;
$info:          #00bfe9;
$warning:       #f69900;
$danger:        #ff635c;

// grey scale
$pepper:        #737373;
$grey:          #cecece;
$soap:          #f0f1f2;
$vanilla:       #fafafa;
$off-black: #121212; //#black in zeplin
$dark-grey: #1F2726; 
$greyish-brown: #555555;
$other-soap: #e5e8ed;
$light-grey: #e3e3e3; //just comes up as "white" in zeplin
$pale-grey-2: #f0f1f2;
$warm-grey: $pepper;

// Project Colours