/**
 * Custom fonts inclusion example:
 */
 // See _ds-vars-typography.scss for the maps for these components

//Main Body font and Rich Text Headings
@include font-face(FSAlbert, "/assets/fonts/fsalbert-light", $font-weight: 300);
@include font-face(FSAlbert, "/assets/fonts/fsalbert-regular", $font-weight: 400);
@include font-face(FSAlbert, "/assets/fonts/fsalbert-bold", $font-weight: 700);

//Special Headings and Buttons
@include font-face(BlockBEBold, "/assets/fonts/block-berthold-heavy", $font-weight: 400);

$BlockBEBold: 'BlockBEBold', Arial, sans-serif;
$FSAlbert: $font-family-base;

%banner-heading {
	@include fluid-type($banner-heading);
	font: {
		weight: 700;
		family: $BlockBEBold;
	}
}

%main-heading {
	@include fluid-type($main-heading);
	font: {
		weight: 700;
		family: $BlockBEBold;
	}
}

%alt-main-heading {
	@include fluid-type($alt-main-heading);
	font: {
		weight: 700;
		family: $FSAlbert;
	}
}

%secondary-heading-block {
	@include fluid-type($secondary-heading);
	font: {
		weight: 700;
		family: $BlockBEBold;
	}
}

%secondary-heading {
	@include fluid-type($secondary-heading);
	@include fluid-property('margin-bottom', 16);
	font: {
		weight: 400;
		family: $FSAlbert;
	};
}

%sub-heading {
	@include fluid-type($sub-heading);
	font-weight: 400;
}

%minor-heading {
	@include fluid-type($minor-heading);
	font-weight: 400;
}

// has same size and line-height as sub-heading
%lead-text {
	@include fluid-type($sub-heading);
}

%minor-lead-text {
	@include fluid-type($minor-lead-text);
}

%body-text {
	@include fluid-type($body);
}

%section-head {
	&__heading {
		@include fluid-type($secondary-heading);
		@include fluid-property('margin-bottom', 32);
	}
	&__summary {
		@include fluid-property('margin-bottom', 40);
	}
}
