/* 
	Button with icon prepending it:
    <a href="#" class="button button--primary">
        <span class="button__prepend">
            {{svg('@webroot/assets/img/svg/ic-caret-left.svg')|attr({
                class: 'button__icon'
            }) }}
        </span>
        <span class="button__text">
            {{ parent.title }}
        </span>
    </a>
	
	Icon only as a button:
	<a href="#" class="button button--primary">
		{{svg('@webroot/assets/img/svg/ic-chevron-left.svg')|attr({
				class: 'button__icon'
			}) }}
	</a>

	Creating a button in html
	1. choose style (--primary, --link etc)
	2. choose sizz (--large, --small, --very-small) (primary has a default size)
*/
%button {
	$self: &;
	font-family: $BlockBEBold;
	border-radius: 4px;
	text-decoration: none;
	user-select: none;
	line-height: 1.5;
	display: inline-flex;
	align-items: center;
	transition: all 0.15s;
	border: none;

	@include hover-focus {
		text-decoration: none;
		box-shadow: none;
	}

	&:visited {
		text-decoration: none;
	}

	&__text {
		font-size: 2rem;
	}

	&__append {
		display: block;
		margin-left: $spacing-s;
		margin-bottom: 0;
		float: right;
		.button__icon {
			float: right;
		}
		
	}

	&__prepend {
		display: block;
		margin-right: $spacing-s;
		margin-bottom: 0;
		float: left;
		.button__icon {
			float: left;
		}
	}

	&__icon {
		display: block;
		fill: $primary;
	}

	&__text-mobile {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
	
	&--primary {
		padding: 0.9rem 2.4rem;
		background-color: $primary;
		color: $white;
		@include hover-focus {
			background-color: $button-default-hover;
			color: $white;
		}
	}

	&--reverse {
		padding: 0.9rem 2.4rem;
		background-color: $secondary;
		color: $primary;
		@include hover-focus {
			background-color: darken($secondary, 8%);
			color: $primary;
		}
	}

	&--secondary-font {
		font-family: $FSAlbert;
		font-weight: 700;
	}

	// some buttons don't get smaller on mobile, some do
	&--large-always {
		padding: 1.5rem 2.6rem;
	}

	&--large {
		padding: 0.9rem 2.1rem;
		background-color: $primary;
		color: $white;
		@include media-breakpoint-up(sm) {
			padding: 1.5rem 2.6rem;
		}
		@include hover-focus {
			background-color: $button-default-hover;
			color: $white;
		}	
	}

	&--wide {
		@include media-breakpoint-up(lg) {
			min-width: 275px;
			justify-content: center;
		}
	}

	&--small {
		padding: 0.9rem 2.1rem;
		background-color: $primary;
		color: $white;
		@include hover-focus {
			background-color: $button-default-hover;
			color: $white;
		}
	}

	&--very-small {
		padding: 0.4rem 2.1rem;
		font-size: 14px;
		@include media-breakpoint-up(xl) {
			font-size: 16px;
		}
	}

	&--full-width {
		width: 100%;
		justify-content: center;
	}
	
	// transparent background 
	&--white-bg {
		background-color: $white;
		color: $primary;
		border: 1px solid $primary;
		@include hover-focus {
			background-color: $primary;
			color: $white;
		}
		g, path {
			fill: $primary;
		}
		&:hover {
			path {
				fill: $white;
			}
		}
	}

	// For use on a dark background
	&--trans-white {
		background-color: transparent;
		border: 1px solid $white;
		color: $white;
		@include hover-focus {
			background-color: $white;
			color: $primary;
		}
	}

	&--centered {
		display: flex;
		flex-basis: 1;
		text-align: center;
		width: max-content;
		margin: 0 auto;
	}

	// in the style of a link
	&--link {
		color: $link-color;
		font-family: $FSAlbert;
		border-color: transparent;
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		font-size: 1.6rem;
		g, path {
			fill: $primary;
		}
		@include hover-focus {
			border-color: transparent;
			background-color: transparent;
			color: $link-color;
			outline: none;
			text-decoration: underline;
		}
		&:focus{
			outline: 2px dotted $primary;
		}
	}
}