// inter-blocks
$gap-small: 2.4rem;
$gap-small-mobile: 1.8rem;

$gap-small-px: 24;
$gap-small-mobile-px: 18;

$gap: 4rem;
$gap-mobile: 3.2rem;

$gap-px: 55;
$gap-mobile-px: 38;

$gap-big: 7.2rem;
$gap-big-mobile: 4.8rem;

$gap-big-px: 72;
$gap-big-mobile-px: 48;

$spacing-unit: 6px;
$spacing-s: 16px;
$spacing-m: 24px;

%block-padding-y {
	@include fluid-property("padding-top", $gap-px, $gap-mobile-px);
	@include fluid-property("padding-bottom", $gap-px, $gap-mobile-px);
	&--small {
		@include fluid-property("padding-top", $gap-small-px, $gap-big-mobile-px);
		@include fluid-property("padding-bottom", $gap-small-px, $gap-big-mobile-px);
	}
	&--big {
		@include fluid-property("padding-top", $gap-big-px, $gap-big-mobile-px);
		@include fluid-property("padding-bottom", $gap-big-px, $gap-big-mobile-px);
	}
}

%block-margin-y {
	@include fluid-property("margin-top", $gap-px, $gap-mobile-px);
	@include fluid-property("margin-bottom", $gap-px, $gap-mobile-px);
	&--small {
		@include fluid-property("margin-top", $gap-small-px, $gap-big-mobile-px);
		@include fluid-property("margin-bottom", $gap-small-px, $gap-big-mobile-px);
	}
	&--big {
		@include fluid-property("margin-top", $gap-big-px, $gap-big-mobile-px);
		@include fluid-property("margin-bottom", $gap-big-px, $gap-big-mobile-px);
	}
}

%block-margin-top {
	@include fluid-property("margin-top", $gap-px, $gap-mobile-px);
	&--very-small {
		@include fluid-property("margin-top", 20, 10);
	}
	&--small {
		@include fluid-property("margin-top", $gap-small-px, $gap-big-mobile-px);
	}
	&--big {
		@include fluid-property("margin-top", $gap-big-px, $gap-big-mobile-px);
	}
}

%no-margin-y {
	@include fluid-property("margin-top", 0, 0);
	@include fluid-property("margin-bottom", 0, 0);
}
