// cards
$card-gutter-width-horizontal: 2.4rem;
$card-gutter-width-vertical: 2.4rem;

// $card-height: 576px;
// $card-spacer-y: ;
// $card-spacer-x ;
// $card-cap-bg: ;
// $card-border-width: ;
// $card-border-color: ;
// $card-inner-border-radius: ; 
// $card-inner-border-radius: ;