// Downloads and Events CTA's
%fw-cta-card {
	&__item {
		background-color: $secondary;
		display: grid;
		grid-template-columns: auto 1fr;
		@include media-breakpoint-up(sm) {
			grid-template-columns: auto 1fr auto;
		}
		&:not(:first-child) {
			margin-top: 1.6rem;
		}
	}
	&__main {
		flex-grow: 1;
		align-self: center;
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
		margin-right: 14px;
	}
	&__title {
		color: $primary;
		font-weight: $font-weight-bold;
	}
	&__meta {
		margin-top: 0.1rem;
	}
	&__cta {
		align-self: center;
		margin: 15px;
		grid-column: span 2;
		@include media-breakpoint-up(sm) {
			grid-column: span 1;
			margin: 20px 30px 20px 20px;
		}
	}
	&__icon-colour {
		fill: $primary;
	}
	&__button {
		padding: 1.3rem 1.5rem;
		@extend %button--full-width;
		
	}
	&__icon-wrap {
		padding-left: 15px;
		margin-right: 20px;
		@include media-breakpoint-up(sm) {
			padding-left: 30px;
			margin-right: 40px;
		}
	}
}