%section-head {
	$self: &;

	&__heading {
		@include fluid-type($secondary-heading);
		margin-bottom: 0;
		color: $primary;
		+ #{$self}__summary {
			@include fluid-property("margin-top", 20);
		}
	}

	&__summary {
		@include fluid-type($sub-heading);
		margin-bottom: 0;
		color: $body-color;
		figure, img {
			max-width: 100%;
		}
		p:last-child {
			margin-bottom: 0;
		}
		&--dulled {
			@extend %body-text;
		}
	}

	&--has-summary {
		@include fluid-property("margin-bottom", 48);
	}

	&--no-summary {
		@include fluid-property("margin-bottom", 25);
	}

	&--has-button {
		display: flex;
	}

	&--no-button {
		#{$self}__summary p {
			margin: 0 auto;
		}
	}

	&--fancy {
		// If is fancy (has the alt font) AND has no button THEN text is centered (e.g. cards section heads)
		&.section-head--no-button {
			text-align: center;
		}
		#{$self}__heading {
			@extend %secondary-heading-block;
		}
		#{$self}__summary p {
			@extend %lead-text;
			max-width: 645px;
		}
	}
	
}
