// these two define the breakpoint together, they should be changed together if one of them needs to be changed
$rich-media-breakpoint-up: lg;
$rich-media-breakpoint-down: md;

$rich-media-text-desktop-max-widths: (
	md: 356px,
	lg: 520px,
	xl: 620px
);

%banner {
	
	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__column {
		overflow: hidden;
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			flex: 0 0 50%;
		}
		&--media {
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				// media column always goes first on mobile / portrait view, otherwise (desktop / landscape view), respect the initial order (set in CMS)
				order: 0;
				flex: 0 0 100%;
				max-width: 100%;
				// otherwise on ipad portrait the image just gets too big
				max-height: 320px;
			}
		}
		&--text {
			@include make-col-ready();
			@include make-col(12);
			@include media-breakpoint-down($rich-media-breakpoint-down) {
				padding-top: $gap-mobile;
				padding-bottom: $gap-mobile;
			}
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				@include make-col(6);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}	
	}

	&__text-content-wrap {
		@include media-breakpoint-up($rich-media-breakpoint-up) {
			@include make-container-max-widths($rich-media-text-desktop-max-widths);
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	&__text-content-ctas {
		margin-top: 31px;
	}

	&__media {
		&--image {
			// we need to make sure the image itself is cropped 16/9
			min-height: calc(100vw * 9 / 16);
			background-size: cover;
			height: 100%;
			@include media-breakpoint-up($rich-media-breakpoint-up) {
				min-height: calc(50vw * 9 / 16);
			}
		}
	}	
}
