//Fluid Typography - adapated from https://css-tricks.com/snippets/css/fluid-typography/
//the widths to shrink/grow between default to Bootstrap SM and LG
//Set min (mobile - bs-sm) and max (desktop bs-xl) font-sizes/line-heights:
//Used primarily in components here src\styles\base\design-system\_ds-typography.scss then extended to content blocks

$banner-heading: (
	font-size-dt: 48px,
	font-size-mobile: 32px,
	line-height-dt: 56px,
	line-height-mobile: 40px
);

// Main headings - "Page Title" in kit - used for block headings that use the BlockBE font
$main-heading: (
	font-size-dt: 40px,
	font-size-mobile: 32px,
	line-height-dt: 52px,
	line-height-mobile: 40px
);

// Main headings - h2's that use in FSAlbert - e.g. h2 in richt text block, "Page Title" in kit, only differentce is size and line height on desktop
$alt-main-heading: (
	font-size-dt: 40px,
	font-size-mobile: 32px,
	line-height-dt: 46px,
	line-height-mobile: 40px
);

// "Section Title" in kit
$secondary-heading: (
	font-size-dt: 32px,
	font-size-mobile: 24px,
	line-height-dt: 38px,
	line-height-mobile: 36px
);

// "Sub-Section Title" in kit - same as first "Lead Text" in kit, also banner summary
$sub-heading: (
	font-size-dt: 24px,
	font-size-mobile: 20px,
	line-height-dt: 32px,
	line-height-mobile: 28px
);

// E.g Used as an h4 in rich text "sub-section title" in kit
$minor-heading: (
	font-size-dt: 20px,
	font-size-mobile: 16px,
	line-height-dt: 24px,
	line-height-mobile: 20px
);
	
// Second instance of "Lead" in kit (first instance = sub-heading)
$minor-lead-text: (
	font-size-dt: 20px,
	font-size-mobile: 16px,
	line-height-dt: 28px,
	line-height-mobile: 24px
);

$body: (
	font-size-dt: 16px,
	font-size-mobile: 14px,
	line-height-dt: 24px,
	line-height-mobile: 20px
);