%tag {
	@include clear-appearance;
	text-decoration: none;
	color: $primary;
	display: inline-block;
	&--top {
		font-weight: 700;
		font-size: 1.4rem;
		border-radius: 4px;
		padding: 3px 4px;
		margin-bottom: 4px;
		background-color: $secondary;
	}
	&--bottom {
		font-size: 12px;
		padding: 4px 7px;
		border: 1px solid $grey;
		border-radius: 14px;
		margin-bottom: 10px;
	}
	&:not(:last-child) {
		margin-right: 4px;
	}
}