{% extends "_layouts/post" %}
{% import "_macros" as macros %}
{% block bodyClass %}
	{{ parent() }}
	news-post-page
{% endblock %}

{% block breadcrumbs %}
	{% set crumbs = craft.yump.getBreadcrumb(entry) %}
	{% set landingPage = craft.yump.getNewsLandingPageForSite() ?? null %}
	{% if landingPage %}
		{% set customCrumbs = {
			0:{
				text: landingPage.title,
				url: landingPage.url
			}
		} %}
		{% include '_elements/breadcrumbs' with {custom: customCrumbs, variation: 'breadcrumbs--article', articleWidth: true} %}
	{% endif %}
{% endblock %}

{% block postHeadingSection %}
	<div class="post__heading">
		<h1 class="post__heading-text">{{entry.title}}</h1>
		<span class="post__heading-date">
			{{macros.svg({
				'name': 'ic-calendar',
				'attributes': { 'class': 'post__heading-date-icon'}
			})}}
			<span class="post__heading-date-text">
				{{entry.postDate | date('j F Y')}}
			</span>
		</span>
	</div>
{% endblock %}

{% block afterContent %}
	{% include "_elements/related-news" %}
{% endblock %}

