{% import '_macros' as macros %}

<div class="site-summary__column site-summary__column--main">
	<div class="site-summary__content-wrap">
		<div class="site-summary__main-lead">
			{{block.summary}}
		</div>
		{% if block.simpleTextContent %}
			<div class="site-summary__main-secondary">
				{{block.simpleTextContent}}
			</div>
		{% endif %}
	</div>
</div>
