{% extends '_layouts/bootstrap/base' %}

{% header "X-Robots-Tag: none" %}

{% block header %}
	<header id="site-header" class="header">
		<div class="header__nav-wrap"> 
			{% block nav %}
				{% include '_elements/nav' ignore missing %}
			{% endblock %}
		</div>
	</header>
{% endblock %}

{% block body %}
	<main id="main">
		<div class="container main-content">
			{% block form %}{% endblock %}
		</div>
	</main>
{% endblock %}

{% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %}
