{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_layouts/bootstrap/base' %}

{% if entry is defined and entry.membersOnly %}
	{% header "X-Robots-Tag: noindex" %}
{% endif %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block header %}
	{% block topAlert %}
		{% include "_elements/top-alert" ignore missing %}
	{% endblock %}
    <header id="site-header" class="header">

		<div class="header__nav-wrap">
			{% block nav %}
				{% include '_elements/nav' ignore missing %}
			{% endblock %}
		</div>
    </header>
    {% if generalSettings["alertEnabled"] is defined and generalSettings.alertEnabled %}
        <div class="header__spacer--alert"></div>
    {% endif %}
{% endblock %}

{% block body %}
		{% block breadcrumbs %}{% endblock %}
		{% block banner %}
			{% include "_elements/banner" %}
		{% endblock %}

		{% block content %}
			{% if craft.yump.currentUserCanAccessEntry(entry) %}
				<main class="main {% block mainVariationClass %}{% endblock %}" id="main">
					{% block beforeContent %}{% endblock %}
					{% block mainContent %}
						
						{% if entry is defined and entry and entry['body'] is defined and entry.body %}
							{% set neoBlocks = entry.body.level(1).all() %}
							{% set neoBlocks = craft.yump.maybeForceArticleBlockFirst(neoBlocks, entry.typeId) %}
							{% for childBlock in neoBlocks %}
								{% switch childBlock.type %}
									{% case 'articleWidthContent' %}
										<div class="main__container container">
											<div class="main__row">
												{% if craft.yump.shouldHaveSidebar(loop.index, childBlock) %}
													{% block sidebar %}{% endblock %}
												{% endif %}
												<div class="main__articled-box ">
													{% block topSection %}{% endblock %}
													{% include "_content-blocks/partials/neo_child_block" with {blockSet: childBlock.children, scope: [childBlock.type.handle]} %}
												</div>
											</div>
										</div>
									{% case 'boxedWidthContent' %}
										<div class="main__container container">
											{% include "_content-blocks/partials/neo_child_block" with {blockSet: childBlock.children, scope: [childBlock.type.handle]} %}
										</div>
									{% case 'fullWidthContent' %}
										<div class="main__container">
											{% include "_content-blocks/partials/neo_child_block" with {blockSet: childBlock.children, scope: [childBlock.type.handle]} %}
										</div>
									{% default %}
										<div class="main__container">
											{% include "_content-blocks/partials/neo_child_block" with {blockSet: childBlock.children, scope: [childBlock.type.handle]} %}
										</div>
								{% endswitch %}
							{% endfor %}
						{% endif %}

					{% endblock %}
					{% block afterContent %}{% endblock %}
				</main>
			{% else %}
				{% include '_elements/login-form' with {entryId: entry.id} %}
			{% endif %}
		{% endblock %}
{% endblock %}

{% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
	{{ parent() }}
	{# Our custom JS scripts... #}
{% endblock %}
