{% header "X-Robots-Tag: noindex" %}

{% extends "_layouts/compact" %}

{% block banner %}
	{% include "_elements/banner" with { customTitle: 'Page not found' } %}
{% endblock %}

{% block mainContent %}
	<div class="main__container container">
		<article class="error-page">
			<div class="error-page__content">
				{% block errorContent %}{% endblock %}
			</div>
		</article>
	</div>
{% endblock %}
