{%- set currentUser = craft.app.getUser() -%} {%- if not currentUser or not
currentUser.getIsAdmin() -%} {%- exit 403 -%} {%- endif -%}

<!doctype html>
<html lang="en-AU">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance</title>
    <style>
      :root {
        --sidebar-width: 350px;
        --success-color: #6ad889;
      }
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
        margin: 0;
        padding: 0;
      }
      main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100vh;
      }
      .content {
        width: calc(100% - var(--sidebar-width));
        background: #f8f8f8;
        padding: 0 20px;
        height: 100%;
        overflow-y: auto;

        * {
          max-width: 100%;
          text-wrap: normal;
        }
      }
      .sidebar {
        --list-gap: 1rem;
        position: relative;
        height: calc(100% - 40px);
        width: var(--sidebar-width);
        background-color: #333;
        color: #fff;
        padding: 20px;
        max-height: 100vh;
        overflow-y: auto;
        ul {
          margin-block-start: var(--list-gap);
          margin-block-end: var(--list-gap);
          padding-inline-start: 20px;
          border-left: 1px solid #fff;
        }
        & > ul {
          border-left: none;
          padding-inline-start: 0;
        }

        li {
          margin-bottom: var(--list-gap);
          list-style-type: none;
          display: block;
        }
        a {
          color: white;
          text-decoration: none;
          padding: 0.5rem;
          line-height: 1.5;
          &:hover {
            background-color: #555;
          }
        }
      }
      h1 {
        font-size: 2em;
        margin-bottom: 1rem;
        padding-top: 2rem;
      }
      h2 {
        font-size: 1.8em;
        margin-bottom: 1rem;
        padding-top: 2rem;
        margin-top: 0;
        width: auto;
      }
      h3 {
        font-size: 1.25em;
        margin-bottom: 1rem;
        padding-top: 1rem;
        margin-top: 0;
        width: auto;
      }
      h4 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-top: 1rem;
        width: auto;
        color: #555;
        &:before {
          content: '- ';
        }
      }

      h1,
      h2,
      h3,
      h4 {
        cursor: pointer;
        color: #d30958;
      }

      p,
      li,
      a,
      b {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
      }

      .maintenance-done {
        color: var(--success-color) !important;
        &::after {
          content: '✅';
          padding-left: 0.5rem;
        }
      }

      code {
        display: block;
        background-color: #ddd;
        padding: 0.2rem 0.4rem;
        border-radius: 3px;
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      .highlight {
        text-decoration: underline !important;
      }

      hr.end {
        margin-top: 2rem;
        margin-bottom: 6rem;
        border-left: none;
        border-right: none;
        border-bottom: none;
        &::after {
          content: 'The end of the maintenance';
          display: block;
          text-align: center;
          padding: 2rem 6rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <aside class="sidebar" id="sidebar"></aside>
      <section class="content" id="content">
        {% block content %}
        <p>Please add maintenance content here.</p>
        {% endblock %}
        <hr class="end" />
      </section>
    </main>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const content = document.getElementById('content');
        const sidebar = document.getElementById('sidebar');
        const headings = content.querySelectorAll('h1, h2, h3, h4');
        const sidebarList = document.createElement('ul');

        let currentH1 = null;
        let currentH2 = null;
        let currentH3 = null;

        // Loop through headings and create sidebar with nested lists for h2 and h3
        headings.forEach((heading, index) => {
          if (!heading.id) heading.id = parsingHeadingId(heading, index);

          const listItem = createListItemByHeading(heading);

          heading.addEventListener('click', event => {
            if (event.target.id && heading.tagName !== 'H1') {
              toggleMaintenanceItem(event.target.id);
            }
          });

          [currentH1, currentH2, currentH3] = appendListHeadingWithHierarchy(
            heading,
            sidebarList,
            listItem,
            currentH1,
            currentH2,
            currentH3
          );
        });

        sidebar.appendChild(sidebarList);
      });

      /**
       * Listen to maintenanceUpdated event and update the sidebar and content
       */
      document.addEventListener('maintenanceUpdated', event => {
        const { key, value } = event.detail;
        const anchor = document.querySelector(`a[href="#${key}"]`);
        if (anchor) {
          if (value) {
            if (anchor.classList !== null) {
              anchor.classList.add('maintenance-done');
            } else {
              anchor.classList = 'maintenance-done';
            }
          } else {
            anchor.classList = [];
          }
        }

        //add “maintenance-done" to the heading
        const heading = document.getElementById(key);
        if (heading) {
          if (value) {
            if (heading.classList !== null) {
              heading.classList.add('maintenance-done');
            } else {
              heading.classList = 'maintenance-done';
            }
          } else {
            heading.classList = [];
          }
        }
      });

      /**
       * Parse heading text content to create an id
       * @param {HTMLHeadingElement} heading - The heading element
       * @param {number} index - The index of the heading element
       * @returns {string} - The id of the heading element
       */
      const parsingHeadingId = (heading, index) => {
        //only take first 100 characters of the heading as id
        //only keep english characters, numbers, and hyphen
        return (
          heading.textContent
            .toLowerCase()
            .replace(/\s/g, '-')
            .replace(/[^a-z0-9-]/g, '')
            .substring(0, 100) +
          '-' +
          index
        );
      };

      /**
       * Create a list item with an anchor element
       * <li><a href="href">text</a></li>
       * @param {string} text - The text content of the anchor element
       * @param {string} href - The href attribute of the anchor element
       * @returns {HTMLLIElement} - The list item element
       */
      const createListItemByHeading = heading => {
        const text = heading.textContent;
        const href = `#${heading.id}`;
        const listItem = document.createElement('li');
        // H1 does not need the link, its at the beginning of the list
        if (heading.tagName === 'H1') {
          listItem.textContent = text;
          return listItem;
        }

        const anchor = document.createElement('a');
        anchor.href = href;
        anchor.textContent = text;

        // Add event listener to listen "click + ctrl" event on the anchor element
        anchor.addEventListener('click', event => {
          event.preventDefault();
          if (event.altKey) {
            toggleMaintenanceItem(event.target.href.split('#')[1]);
          }

          //scroll to the heading
          const heading = document.getElementById(
            event.target.href.split('#')[1]
          );
          scrollAndHightlightHeading(heading);
        });
        listItem.appendChild(anchor);

        //adds the strikethrough when window load
        if (getMaintenanceItem(href.split('#')[1])) {
          anchor.classList.add('maintenance-done');
          heading.classList.add('maintenance-done');
        }

        return listItem;
      };

      const scrollAndHightlightHeading = heading => {
        heading.scrollIntoView({ behavior: 'smooth' });
        if (heading.classList !== null) {
          heading.classList.add('highlight');
        } else {
          heading.classList = 'highlight';
        }

        setTimeout(() => {
          if (heading.classList !== null) {
            heading.classList.remove('highlight');
          } else {
            heading.classList = [];
          }
        }, 3000);
      };

      /**
        * e.g. 
        * <li>
            Heading 1
            <ul>
              <li>Heading 2</li>
              <li>
                Heading 2
                <ul>
                  <li>Heading 3</li>
                  <li>
                    Heading 3
                    <ul>
                      <li>Heading 4</li>
                    </ul>
                  </li>
                </ul>
              </li>
        * </li>
        * Append list item to sidebar
        * If heading is h1, append to sidebarList
        * If heading is h2, append to currentH1
        * If heading is h3, append to currentH2
        * if heading is h4, append to currentH3
        */
      const appendListHeadingWithHierarchy = (
        heading,
        sidebarList,
        listItem,
        currentH1,
        currentH2,
        currentH3
      ) => {
        if (heading.tagName.toLowerCase() === 'h1') {
          sidebarList.appendChild(listItem);
          currentH1 = listItem;
          currentH2 = null;
          currentH3 = null;
        } else if (heading.tagName.toLowerCase() === 'h2') {
          if (!currentH1) {
            sidebarList.appendChild(listItem);
            currentH1 = listItem;
          } else {
            if (!currentH1.querySelector('ul')) {
              const sublist = document.createElement('ul');
              currentH1.appendChild(sublist);
            }
            currentH1.querySelector('ul').appendChild(listItem);
          }
          currentH2 = listItem;
          currentH3 = null;
        } else if (heading.tagName.toLowerCase() === 'h3') {
          if (!currentH2) {
            if (!currentH1.querySelector('ul')) {
              const sublist = document.createElement('ul');
              currentH1.appendChild(sublist);
            }
            currentH1.querySelector('ul').appendChild(listItem);
          } else {
            if (!currentH2.querySelector('ul')) {
              const sublist = document.createElement('ul');
              currentH2.appendChild(sublist);
            }
            currentH2.querySelector('ul').appendChild(listItem);
          }
          currentH3 = listItem;
        } else if (heading.tagName.toLowerCase() === 'h4') {
          if (!currentH3) {
            if (!currentH2.querySelector('ul')) {
              const sublist = document.createElement('ul');
              currentH2.appendChild(sublist);
            }
            currentH2.querySelector('ul').appendChild(listItem);
          } else {
            if (!currentH3.querySelector('ul')) {
              const sublist = document.createElement('ul');
              currentH3.appendChild(sublist);
            }
            currentH3.querySelector('ul').appendChild(listItem);
          }
        }

        return [currentH1, currentH2, currentH3];
      };

      /**
       * read maintenance items from local storage, set variables to the values
       * empty - null
       * not empty - true
       */
      const toggleMaintenanceItem = key => {
        const value = getMaintenanceItem(key);
        if (value) {
          saveMaintenanceItem(key, null);
        } else {
          saveMaintenanceItem(key, true);
        }
      };

      /**
       * Save a maintenance item to local storage
       * @param {string} key - The key of the maintenance item (heading id)
       * @param {string} value - The value of the maintenance item
       */
      const saveMaintenanceItem = (key, value) => {
        if (!localStorage) {
          console.error('Local storage is not supported');
          return;
        }

        const maintenance = localStorage.getItem('maintenance');
        if (maintenance) {
          const maintenanceObj = JSON.parse(maintenance);
          maintenanceObj[key] = value;
          localStorage.setItem('maintenance', JSON.stringify(maintenanceObj));
        } else {
          localStorage.setItem('maintenance', JSON.stringify({ [key]: value }));
        }

        //creates a custom event to trigger maintenanceUpdated
        //so some other function can listen to it and track the changes
        const maintenanceUpdated = new CustomEvent('maintenanceUpdated', {
          detail: { key, value },
        });
        document.dispatchEvent(maintenanceUpdated);
      };

      const getMaintenanceItem = key => {
        if (!localStorage) {
          console.error('Local storage is not supported');
          return;
        }
        const maintenance = localStorage.getItem('maintenance');
        if (maintenance) {
          const maintenanceObj = JSON.parse(maintenance);
          return maintenanceObj[key];
        }
        return null;
      };
    </script>
  </body>
</html>
