{# 
	Use this template for sections like news article, event details, thank you pages if they share similarity and have different layout than the general content pages.
#}

{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} post{% endblock %}

{% block banner %}{% endblock %}

{% block beforeContent %}
	<section class="main__container main__container--post-header container">
		<div class="main__row">
			<div class="main__articled-box">
				{% block postHeadingSection %}{% endblock %}
			</div>
		</div>
	</section>
{% endblock %}
