{% extends "_layouts/post" %}

{% block breadcrumbs %}
	{% if not craft.yump.requiresLogin(entry) or currentUser %}
		{% set resourceHomePage = craft.yump.getResourcesLandingFromResDetail(entry) %}
		{% if resourceHomePage %}
			{% include '_elements/breadcrumbs' with 
				{
					variation: 'breadcrumbs--article',
					articleWidth: true,
					custom: [
						{
							'text':resourceHomePage.title,
							'url':resourceHomePage.url,
						}
					]
				}
			%}
		{% endif %}
	{% endif %}
{% endblock %}

{% block topSection %}
	<div class="resource-detail-header">
		{% set resAttrs = craft.yump.getResourceTags(entry) %}
		{% if resAttrs.topTags %}
			<div class="resource-detail-header__top-tags">
				{% for tag in resAttrs.topTags %}
					<a href="{{resAttrs.tagsUrl}}?selectedIds={{tag.id}}" class="resource-detail-header__tag resource-detail-header__tag--top">{{tag.title}}</a>
				{% endfor %}
			</div>
		{% endif %}

		<h1 class="resource-detail-header__title">{{entry.title}}</h1>
		{% if resAttrs.bottomTags %}
			<div class="resource-detail-header__bottom-tags">
				{% for tag in resAttrs.bottomTags %}
					<a href="{{resAttrs.tagsUrl}}?selectedIds={{tag.id}}" class="resource-detail-header__tag resource-detail-header__tag--bottom">{{tag.title}}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block afterContent %}
	{% set relatedResEntries = craft.yump.getRelatedResources(entry) %}
	{% if relatedResEntries %}
		<div class="related-resources">
		{% include '_elements/section-head' with {
			sectionHeading: "Related Resources",
			objHandle: 'related-resources',
			fontStyle: 'fancy'
		} only %}

		{% include '_content-blocks/partials/cards' with {
			cards: relatedResEntries,
			additionalClasses: 'cards--image cards--related-resources',
		} only %}
		</div>
	{% endif %}
{% endblock %}
