// ACT NSW Colours
$ocean-blue: #0071ae;
$deep-sea-blue: #00507c;

$pale-blue: #edf5f9;
$ku-blue: #66ccff;

// Required Colour Variables for a theme
$primary: $ocean-blue;

$secondary: $pale-blue;
$pale-bg: $pale-blue; //background of alert
$accent1: $ku-blue; // quote mark
$accent2: $ku-blue; // border on edge of site summary

$link-color: $primary;
$button-default-hover: $deep-sea-blue;