{% import "_macros" as macros %}
{% set id = id | default("default-modal-id") %}
<div class="modal {{ extraClasses ??"" }}" id="{{ id }}" tabindex="-1" role="dialog"
     aria-labelledby="header-{{ id }}"
     aria-describedby="body-{{ id }}"
        {{ modalExtraAttributes ?? "" }}>
    <div class="modal-dialog {{vertPosition ?? 'modal-dialog-centered'}}" role="document">
        <div class="modal-content mx-auto {{ modalExtraClasses ?? "" }}">
            {% if customHeader is defined %}
            <div class="modal-header" id="header-{{ id }}">
                {{ customHeader | raw }}
            </div>
            {% elseif header is defined and header | length %}
            <div class="modal-header" id="header-{{ id }}">
                <{{ headerTag??"h2" }} class="modal-title" aria-label="{{ header }} Modal">{{ header }}</{{ headerTag??"h2" }}>
            <button class="btn close" data-dismiss="modal" aria-label="Close Modal">
                <img src="{{ url("/assets/img/svg/ic-close.svg") }}" alt="Close Icon" aria-hidden="true"/>
            </button>
        </div>
        {% else %}
            <div class="modal-header" id="header-{{ id }}">
                <h2 class="sr-only">Modal Header</h2>
                <button class="btn close" data-dismiss="modal" aria-label="Close Modal">
                    <img src="{{ url("/assets/img/svg/ic-close.svg") }}" alt="Close Icon" aria-hidden="true"/>
                </button>
            </div>
        {% endif %}
        {% if body is defined and body | length %}
            <div class="modal-body" id="body-{{ id }}">
                {{ body | raw }}
            </div>
        {% endif %}
        {% if footer is defined and footer | length %}
            <div class="modal-footer" id="footer-{{ id }}">
                {{ footer | raw }}
            </div>
        {% endif %}
    </div>
</div>
</div>
