{#
Settings:
---
Required:
- field
- videoUrl
Either field or videoUrl should be supplied, if both supplied, we will use videoUrl as default.

Optionals:
- videoTranscript (entry)
- videoHtmlTitle (string)
- params (array): video settings (varies depending on which platform this video is hosted). By default, we use YouTube's 'controls: 1, rel: 0', which can be overridden by the custom params. Only works if we pass in field instead of videoUrl (as you can directly put params in URL in videoUrl).
#}

{% set transcriptEntry = transcriptEntry | default(null) %}
{% set videoUrl = videoUrl | default(null) %}
{% set videoUrl = craft.yump.generateValidUrl(videoUrl) %}
{% if not videoUrl and field is defined and field %}
	{% set defaultParams = {controls: 1, rel: 0} %}
	{% set params = params | default({}) %}
	{# the custom params override the defaultParams #}
	{% set params = defaultParams | merge(params) %}
	{% set videoUrl = craft.yump.compileVideoUrl(field, params) %}
{% endif %}
{% if videoUrl %}
	<div class="video">
		<div class="video__iframe-wrapper">
			<div class="video__aspect-ratio">
				<iframe src="{{ videoUrl }}" {% if videoHtmlTitle is defined and videoHtmlTitle %} title="{{videoHtmlTitle}}" {% endif %} allowfullscreen></iframe>
			</div>
		</div>
		{% if transcriptEntry %}
			<div class="video-transcript">
				<a class="video-transcript__link button button--link button--has-icon" href="{{ transcriptEntry.url }}" target="_blank">
					<span class="video-transcript__link-text button__text">View transcript</span>
						{{ svg('@webroot/assets/img/svg/ic-chevron-right.svg')|attr({
							class: 'video-transcript__link-img button__append'
						}) }}
				</a>
			</div>
		{% endif %}
	</div>
{% endif %}
