{% extends "_layouts/account" %}

{% block body %}
	<div class="ku-form">
		<div class="ku-form__content-wrap ku-form__content-wrap--tight">
			<form class="ku-form__form" method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{% set iaLogin = craft.yump.getLoginForIasPage() %}
				{% set redirectUrl = iaLogin.url ~ '?reset=true' %}
				{{ actionInput('users/send-password-reset-email') }}
				{{ redirectInput(redirectUrl) }}
				<div class="ku-form__content rich-text">
					<h2>Reset your password</h2>
				</div>

				<div class="form-group">
					<h4 class="ku-form__label-heading">
						<label for="loginName">Username or email</label>
					</h4>
					<input id="loginName" class="form-control" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
				</div>

				{% if errors is defined %}
					<ul class="errors">
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div class="form-group">
					<input class="button button--primary ku-form__submit" type="submit" value="Submit">
				</div>

			</form>
		</div>
	</div>
{% endblock %}
