{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (it's this file if the section template setting is left empty or set to 'index'). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{# if homepage has several unique fields #}
{# {% extends "_layouts/default" %} #}

{# if homepage's field settings are the same as general content page #}
{% extends "_layouts/default" %}

{%- block mainVariationClass -%}{{ parent() }}main--no-padding-top{%- endblock -%}

{% block banner %}
	{% include "_elements/banner" with {modifier: 'banner--has-overlap'} %}
{% endblock %}


{% block beforeContent %}

	{% if entry.siteSummary %}
		<div class="site-summary">
			<div class="container">
				<div class="site-summary__row">
					{% include '_content-blocks/partials/neo_child_block' with {blockSet: entry.siteSummary, subfolder: 'site-summary', scope: 'site-summary'} %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if entry.programDetailsSummary %}
		<div class="program-details">
			<div class="container">
				<div class="program-details__row">
					{% include '_content-blocks/partials/neo_child_block' with {blockSet: entry.programDetailsSummary, subfolder: 'program-details-summary', scope: 'program-details-summary'} %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if entry.heroImageWithCallsToAction %}
		{% include '_content-blocks/hero-image-with-ctas/hero' %}
	{% endif %}
	
{% endblock %}
