{% extends "_layouts/account" %}

{% block form %}
	<div class="ku-form">
		<div class="ku-form__content-wrap ku-form__content-wrap--tight">
			<div class="ku-form__content rich-text">
			<h3>Password successfully reset</h3>
				{% set iaLogin = craft.yump.getLoginForIasPage() %}
				{% set redirectUrl = iaLogin.url %}
				<p><a href="{{iaLogin.url}}">Go to {{iaLogin.title}} page</a></p>
			</div>
		</div>
	</div>
{% endblock %}
