{% extends "_layouts/default" %}

{% do seomatic.meta.seoTitle("Search Results") %}

{% set query = craft.app.request.getParam('q') | trim %}

{% block bodyClass %}{{ parent() }} search-results{% endblock %}

{% block breadcrumbs %}
    <!-- <div class="">
        {% include '_elements/search-bar' ignore missing with {wrapperClass: 'search-bar--crumbs', searchQuery: query} %}
    </div>
    {% set custom_crumbs = {
        0:{text:'Home',url:'/'},
        1:{text:'Search results for: "'~query~'"'}
    } %}

    {% include '_elements/breadcrumbs' with {
        custom: custom_crumbs
    } %} -->
{% endblock %}

{% block content %}

    <script>
    {% set urlparams = {
        'q': craft.app.request.getParam('q') ?? '',
        'pages': craft.app.request.getParam('pages') ?? true,
        'news': craft.app.request.getParam('news') ?? true,
		'resources': craft.app.request.getParam('resources') ?? true,
        'showing': craft.app.request.getParam('showing') ?? null,
    } %}
    window.urlParameters = {{ urlparams | json_encode | raw}};
    // console.log(urlParameters);
    </script>

    <div id="main" class="search-results__content">
        <div id="site-search-results" v-cloak>
            <div class="container" aria-live="polite">

                {# <section 
                    v-if="message.info || message.error || message.notice"
                    role="alert"
                >
                    <p class="message info">{* message.info *}</p>
                    <p class="message notice">{* message.notice *}</p>
                    <p class="message error">{* message.error *}</p>
                </section> #}

                {# <div class="row">
                    <div class="offset-md-3 col-md-9 page-heading-section">
                        <h1>Search results</h1>
                    </div>
                </div> #}
                <!--  https://www.mackillop.org.au/search?query=our+services&stories=1&news=0 -->
                <div class="row">
                    <aside class="sidebar-refine-search col-xl-3 col-md-4">
                        <div class="sidebar-refine-search__inner">
                            <h3 class="sidebar-refine-search__heading">Refine your search</h3>
                            <div class="sidebar-refine-search__controls">
                                <fieldset>
                                    <legend class="sidebar-refine-search__legend sr-only">Refine your search</legend>
                                    <div class="sidebar-refine-search__control custom-checkbox custom-control">
                                        <input class="sidebar-refine-search__control-input form-check-input custom-control-input" name="pages"
                                                v-model="filters.pages"
                                               type="checkbox"
                                               value="pages"
                                               id="refine-search-pages">
                                        <label class="sidebar-refine-search__control-label custom-control-label form-check-label"
                                               for="refine-search-pages">Pages</label>
                                    </div>
                                    <div class="sidebar-refine-search__control custom-checkbox custom-control">
                                        <input class="sidebar-refine-search__control-input form-check-input custom-control-input" name="sections"
                                        v-model="filters.news"
                                               type="checkbox"
                                               value="news"
                                               id="refine-search-news">
                                        <label class="sidebar-refine-search__control-label custom-control-label form-check-label" for="refine-search-news">News
                                            & Media</label>
                                    </div>
                                    <div class="sidebar-refine-search__control custom-checkbox custom-control">
                                        <input class="sidebar-refine-search__control-input form-check-input custom-control-input" name="sections"
                                        v-model="filters.resources"
                                               type="checkbox"
                                               value="resources"
                                               id="refine-search-resources">
                                        <label class="sidebar-refine-search__control-label custom-control-label form-check-label"
                                               for="refine-search-resources">Resources</label>
                                    </div>
                                    {# <button class="button button--primary" id="search-button">Update</button> #}
                                </fieldset>
                            </div>
                        </div>
                    </aside>
                    <section class="search-results__results col-xl-8 offset-xl-1 col-md-8">
                        <h1 class="search-results__heading">Search results</h1>

                        <section class="loading" v-if="initialising">
                            <div class="spinner-wrapper">
                                {% include '_elements/spinner' %}
                            </div>
                            <h3 class="loading-text">Loading...</h3>
                        </section>

                        <template v-else>
                            <template v-if="!initErrored">
                                <div class="search-results__pane" v-if="allResults">
                                    <div class="search-results__body" v-if="filteredResults.length"
                                    >
                                        <div class="search-results__count">Found total <strong>{* filteredResults.length *}</strong> results for "<strong>{{ craft.app.request.getParam('q') }}</strong>"</div>

                                        <ul class="search-results__list">
                                            <li class="search-results__item"
                                                v-for="item in cappedSortedFilteredResults"
                                            >
                                                <h4 class="search-results__item-title">
                                                    <a class="search-results__item-title-link" v-bind:href="item.url" v-html="item.highlightedTitle ? item.highlightedTitle : item.title">
                                                    </a>
                                                </h4>

                                                {% include '_elements/search-results-breadcrumbs-vue' %}

                                                <div class="search-results__excerpt" v-html="item.highlightedSummary ? item.highlightedSummary : item.summary">
                                                </div>

                                            </li>
                                        </ul>

                                        <button type="button" class="vue-load-more button button--primary" v-on:click="loadMore()" v-if="showLoadMore">Load more</button>
                                    </div>


                                    <div class="search-results__no-items"
                                        v-else
                                    >No results matching your search criteria.</div>
                                </div>
                            </template>

                            <div class="search-results__errors" v-else>
                                <section 
                                    class="message-section" 
                                    v-if="message.error"
                                    role="alert"
                                >
                                    <p class="search-results__error-message">{* message.error *}</p>
                                </section>
                            </div>
                        </template>
                            

                        

                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJsFooter %}
    {{ parent() }}
    {% if craft.app.config.general.devMode %}
        {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
    {% else %}
        {% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
    {% endif %}
    {% do view.registerJsFile("https://unpkg.com/axios@1.0.0/dist/axios.min.js") %}
    {% do view.registerJsFile("/dist/scripts/site-search.js") %}
{% endblock %}