{% extends "_layouts/account" %}

{# {% set code = craft.request.getParam('code') ?? false %}
{% if not code %}
	{% exit 404 %}
{% endif %} #}

{# {% set success = craft.request.getParam('success') ?? false %} #}
{# {% if success %}
	{% set iaLogin = craft.yump.getLoginForIasPage() %}
	{% set redirectUrl = iaLogin.url %}
	{% redirect redirectUrl %}
{% else %} #}
{# {% endif %} #}

{% block body %}

	<div class="ku-form">
		<div class="ku-form__content-wrap ku-form__content-wrap--tight">
			<form method="post" accept-charset="UTF-8">
				{{ csrfInput() }}
				{{ actionInput('users/set-password') }}
				{{ hiddenInput('code', code) }}
				{{ hiddenInput('id', id) }}

				{# doesnt seem to work -  #}
				{% set iaLogin = craft.yump.getLoginForIasPage() %}
				{% set redirectUrl = iaLogin.url %}
				{{ redirectInput(redirectUrl) }}

				<div class="ku-form__content rich-text">
					<h2>Set your new password</h2>
				</div>

				<div class="form-group">
					<h4 class="ku-form__label-heading">
						<label for="newPassword">New password:</label>
					</h4>

					{{ input('password', 'newPassword', null, {
						id: 'new-password',
						class: 'form-control'
					}) }}

					{% if errors is defined %}
						<ul class="errors">
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>

				<div class="form-group">
					<input class="button button--primary ku-form__submit" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>

{% endblock %}
