{% if craft.yump.getConfig('enableLoginWallOnDocs') %}
	{% requireLogin %}

{% endif %}

{% if not currentUser.can('accessCp') %}
	{% exit 403 %}
{% endif %}

{% extends "_layouts/post" %}

{% block bodyClass %}{{ parent() }} help-doc-page{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/dist/styles/docs.css" type="text/css">
	<style>
		h1.doc-title {
			color: #003260;
		}
	</style>
{% endblock %}

{% block scriptAtBodyBeginning %}
	{% if craft.yump.getConfig('enableFacebookCommentsOnDocs') %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=310355329026677";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}
	{{ parent() }}
{% endblock %}

{% block postHeadingSection %}

	{% include '_elements/nav-help-docs' with { currentEntry: entry } %}

	<div class="post__heading">
		<h1>{{entry.title}}</h1>
	</div>
{% endblock %}

{% block featuredImageSection %}{% endblock %}

{% block afterContent %}
	{% if craft.yump.getConfig('enableFacebookCommentsOnDocs') %}
		{% include "_elements/facebook_comments" %}
	{% endif %}

	{% js at endBody %}
		$(function() {
			$('.docs-nav-toggle').click(function() {
				var self = this;
				$(this).siblings('.docs-nav-wrapper').slideToggle({
					start: function() {
						$(self).toggleClass('expanded');
					},
				});
			});
		});
	{% endjs %}
{% endblock %}	
