{% import '_macros' as macros %}

<div class="program-details__column program-details__column--content">
	<div class="program-details__content-wrap">
		<h2 class="program-details__heading">
			{{block.heading}}
		</h2>
		<div class="program-details__summary">
			{{block.summary}}
		</div>
		{% if block.links %}
			<ul class="program-details__ctas">
				{% for link in block.links.all() %}
					<li class="program-details__cta-li">
						<a href="{{link.customLink.url}}" target="{{link.customLink.target}}" class="program-details__cta-link">
							{{link.customLink.text}}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
