{% import '_macros' as macros %}

{% set heading = block.heading ?? null %}
{% set summary = block.summary ?? null %}
{% set video = block.video ?? null %}

{% if block.videoTranscript is defined and block.videoTranscript %}
	{% set transcriptEntry = block.videoTranscript.one() %}
{% else %}
	{% set transcriptEntry = null %}
{% endif %}

<div class="program-details__column program-details__column--video">
	{% if video %}
		{# displaying video transcript below instead so not setting here #}
		{{ macros.video({
			field: block.video,
			videoHtmlTitle: block.heading ?? block.videoHtmlTitle,
		}) }}

	{% endif %}
	{% if heading or summary or transcriptEntry %}
		<div class="program-details__video-text-content">
			{% if heading %}
				<h2 class="program-details__video-heading">
					{{heading}}
				</h2>
			{% endif %}
			{% if summary %}
				<div class="program-details__video-summary">
					{{summary}}
				</div>
			{% endif %}
			{% if transcriptEntry %}
				<a class="program-details__video-transcript-link" href="{{ transcriptEntry.url }}" target="_blank">
					View video transcript
				</a>
			{% endif %}

		</div>

	{% endif %}

</div>
