{# Web font loader (if loading from Google / Typekit, etc). Reference: https://github.com/typekit/webfontloader #}
{# <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,600,600i', 'Lato:700,700i']
    }
  });
</script> #}

<script src="/dist/scripts/main.js?v=20210719"></script>
{% if currentUser %}
  {% set organisationID = craft.yump.sanitiseOrganisationId(currentUser.organisationId) %}
  <script>
    ga('set', 'userId', "{{ organisationID }}");
    gtag('set', {'user_id': "{{ organisationID }}"});
    ga('send', 'event', 'general', 'organisation', "{{ organisationID }}");
  </script>
{% endif %}

{% include "_elements/google-translate-script" %}
