// KU IDFM Colours
$green: #00823d;
$pale-green: #edf8f2;
$dark-blue-green: #00642f;
$light-grey-green: #e4f4e4;
$ku-green: #99cc33;

// Required Variables for a theme
$primary: $green;
$secondary: $pale-green;
$pale-bg: $light-grey-green;
$accent1: $ku-green;
$accent2: $ku-green; 


$link-color: $primary;
$button-default-hover: $dark-blue-green;