{% if block.accordion and block.accordion.count() %}
    {% include '_elements/section-head' with {
        obj: block,
        objHandle: 'accordion',
    } only %}

    {% set accordionId = block.id ? block.id : craft.yump.getMicrotimeAsId() %}
    
    <div class="accordion" id="accordion-{{ accordionId }}">
        {% for accordionEntry in block.accordion.all() %}
            {% set accordionEntryId = accordionEntry.id ? accordionEntry.id : craft.yump.getMicrotimeAsId() %}
            <div class="accordion__item">
                <div class="accordion__header"
                     role="heading"
                     id="accordion-header-{{ accordionId }}-{{ accordionEntryId }}"
                     data-toggle="collapse"
                     data-target="#accordion-body-{{ accordionId }}-{{ accordionEntryId }}"
                     aria-controls="accordion-body-{{ accordionId }}-{{ accordionEntryId }}"
                     aria-expanded="false"
                >
                    <div class="accordion__header-tag"></div>
                    <h4 class="accordion__header-content">{{ accordionEntry.accordionHeading|trim }}</h4>
                </div>

                <div id="accordion-body-{{ accordionId }}-{{ accordionEntryId }}" class="collapse accordion__body" aria-labelledby="accordion-header-{{ accordionId }}-{{ accordionEntryId }}" data-parent="#accordion-{{ accordionId }}">
                    <div class="accordion__body-content">{{ accordionEntry.accordionContent }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
