{% set anchorLinks = craft.yump.getAnchorLinks(entry) %}
{% set anchorLinksHeadinng = block.heading ?? 'On this page:' %}

{% if anchorLinks %}
    <div class="anchor-links">
        <h3 class="anchor-links__heading">{{ anchorLinksHeadinng }}</h3>
        <ul class="anchor-links__list">
            {% for anchor in anchorLinks %}
                <li class="anchor-links__list-item">
                    <button data-link="#{{ anchor.link }}" data-action="anchor-link" class="anchor-links__link" aria-label="In Page Anchor Link to {{ anchor.label }}">
                        <span class="anchor-links__label">{{ anchor.label }}</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
