{# The Destination for an Anchor Link #}
{% set variationClass = block.headingLevel is defined and block.headingLevel is not empty ? 'anchor-point__heading--' ~ block.headingLevel : 'anchor-point__heading--levelTwo' %}

{% if block.label %}
    <div class="anchor-point">
		<h2 id="{{craft.yump.createJsFriendlySlug(block.label)}}" class="anchor-point__heading {{variationClass}}">{{block.label}}</h2>
    </div>
{% endif %}
