<div class="container">
    <div class="neo-buttons">
        {% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, customClass: 'neo-buttons__child', scope: scope|merge(['buttons'])} %}
    </div>
</div>
