{% set rows = block.numberOfRows ?? 1 %}

<div class="container">
	<div class="yump-carousel-outer" id="yump-carousel-block-{{ block.id ?? craft.yump.getMicrotimeAsId() }}">
		<div class="yump-carousel">
			{% for index, item in block.carousel.all() %}
				{% if index % rows == 0 %}
					<div class="yump-carousel__cell{{ rows > 1 ? ' yump-carousel__cell--multi-items' : '' }}">
				{% endif %}

				{% include "_content-blocks/partials/carousel_item" with {
					item: item,
					customHeight: block['customThumbnailHeight'] ?? false,
				} %}

				{% if index % rows == rows - 1 or loop.last %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


{# <script>
$('#yump-carousel-block-' + {{ block.id | json_encode | raw }}).on('init', function(event, slick){
	$(this).css({"position": "relative", "visibility": "visible"});
});
</script> #}
