{% import '_macros' as macros %}

<h2 class="highlighted-banner__text-only--heading">{{ block.heading }}</h2>
<p class="leading-text">{{ block.summary }}</p>

{{ macros.cta({
    field: block.cta,
}) }}