{% import '_macros' as macros %}
{% if block %}
    {% set colouredButtons = block.colouredButtons.all() %}
    {% set style = block.buttonsColour.value | default("primary") %}
    <div class="coloured-buttons{{ "secondaryContent" in scope ? " container" : "" }}">
    {% for colouredButton in colouredButtons %}
        {% set cta = colouredButton.cta %}
        {% set link = craft.yump.generateValidUrl(cta.url) %}
        {% set overwriteStyle = colouredButton.buttonColour.value | default(null) %}
        {% set text %}
            {{- cta.text | trim -}}
            {% if colouredButton.buttonSmallText %}
                <span class="button-text--small">{{ colouredButton.buttonSmallText }}</span>
            {% endif %}
        {% endset %}
        {% if link and text %}
            {% if cta.type == 'tel' %}
			    {# Trim out any brackets or spaces that an admin puts in a telephone number #}
                {% set link = link|replace({' ':'', '(':'', ')':''}) %}
            {% endif %}
            {{ macros.button({
                tag: 'a',
                link: link,
                text: text,
                target: cta.target,
                style: overwriteStyle | default(style),
            }) }}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}