{% import "_macros" as macros %}

<div class="downloads">
	{% include '_elements/section-head' with {
		obj: block,
		objHandle: 'downloads',
	} only %}

	{% for download in block.downloads.all() %}
		<div class="downloads__item">
			{% set file = download.dlFile.one() %}
			{% if file %}
			
			<div class="downloads__file-icon-wrap">
				{{macros.svg({
					'name': 'ic-downloads',
					'attributes': { 'class': 'downloads__file-icon'}
				})}}
			</div>
			<div class="downloads__file-desc">
				<span class="downloads__title">{{file.title}}</span>
				<div class="downloads__meta">
					<span class="downloads__size">
						{{macros.bytesToSize({
							bytes: file.size
						})}}
					</span>
					<span class="downloads__ext">
						[{{file.extension}}]
					</span>
				</div>
			</div>
			{% if file.url is null %}
				{# {% set userGroupRequired = value %} #}
				{% set fileUrl = "/actions/yump-module/default/file-download?assetId="~ file.id %}
			{% else %}
				{% set fileUrl = file.url %}
			{% endif %}
			<div class="downloads__cta">
				{{macros.button({
					link: fileUrl,
					text: 'Download',
					additionalClasses: 'downloads__button'
				})}}
			</div>
			{% endif %}
		</div>
	{% endfor %}
</div>
