{% import "_macros" as macros %}
{# TODO: Should the whole thing be clickable? #}

<div class="events">
	{% include '_elements/section-head' with {
		obj: block,
		objHandle: 'events',
	} only %}

	{% for event in block.eventsEntries.all() %}
		<div class="events__item">
			<div class="events__icon-wrap">
				{{macros.svg({
					'name': 'ic-event',
					'attributes': { 'class': 'events__icon'}
				})}}
			</div>
			<div class="events__main">
				<span class="events__title">{{event.title}}</span>
				<div class="events__meta">
					<span class="events__date-start">
						{{ event.startDateAndTime | date('M j, Y') }}
					</span>
					<span class="events__time-start">
						{{ event.startDateAndTime | date('g:i A') }}
					</span>
					{% if event.endDateAndTime %}
						{% if event.startDateAndTime|date != event.endDateAndTime|date %}
						<span class="events__date-end">
							{{ event.endDateAndTime | date('M j, Y') }}
						</span>
						{% endif %}
						<span class="events__time-end">
							{{ event.endDateAndTime | date('g:i A') }}
						</span>
					{% endif %}
					<span class="events__price">
						{{event.price}}
					</span>
				</div>
			</div>

			<div class="events__cta">
				{{macros.cta({
					field: event.registrationLink,
					text: event.registrationLink.text is not empty ? event.registrationLink.text : 'Register',
					additionalClasses: 'events__button'
				})}}
			</div>
		</div>
	{% endfor %}
</div>
