{% set featuredArticles = block.featuredArticles.all() ?? null %}
{% if featuredArticles and featuredArticles is not empty %}
		<section class="featured-posts">

			<div class="container">
                {% if block.heading is not empty %}
				<div class="section-head section-head--news-landing">
					<h2 class="section-head__heading">{{ block.heading | default("Latest News, Updates and Stories about Inclusion in Action") }}</h2>
				</div>
                {% endif %}
				<div class="cards cards--count-3">
					<div class="cards__rows">
						{% set excludeIds = [] %}
						{% for article in featuredArticles %}
							{% set excludeIds = excludeIds|merge([article.id]) %}
							{% if is_array(article) %}
								{% set cardBio = article %}
							{% else %}
								{% set cardBio = craft.yump.translateCardBio(article) %}
							{% endif %}

							{% include '_content-blocks/partials/card' with {
								card: cardBio
							} only %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}