<div class="container">
    <div class="highlighted-content">
        {% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, scope: scope|merge(['highlightedContent'])} %}
    </div>
</div>
