{# See src\styles\blocks\images.scss #}

{% set singleImage = image ?? false %}
{% set images = image ?? block.images.all() %}

{% if singleImage %}
	{% set imageCount = 1 %}
{% else %}
	{% set imageCount = images | length %}
{% endif %}

{% if imageCount is defined and imageCount %}

	<div class="container images-container {% if imageCount > 1 %}slider{% endif %}">

    {% if imageCount > 1 %}
        <div class="image-slider-wrap slider__container" aria-hidden="true">
    {% else %}
        <div class="single-image-wrap" aria-hidden="true">
    {% endif %}
		
        {% if singleImage %}

			{% include '_content-blocks/image' with {
				image: singleImage,
				imageCount: imageCount
			} only %}

		{% else %}

			{% for image in images %}

				{% include '_content-blocks/image' with {
					image: image,
					imageCount: imageCount
				} only %}
			{% endfor %} 

		{% endif %}

    	</div><!-- end wrap (single-image-wrap | image-slider-wrap) div -->
        
	{% if imageCount > 1 %}
	<div class="slider__captions">
		<span class="slider-item__caption-text"></span>
		<span class="slider-item__caption-counter"></span>
	</div>
	{% endif %}
        
    </div><!-- End images-container -->

{# end if image count #}
{% endif %}


