{% import '_macros' as macros %}
{% set imagerSettings = {
	width: 1200,
} %}
{% set imageCount = imageCount is defined and imageCount ? imageCount : 1 %}
{% set imageCaption = image.imageCaption ?? null %}
{% set itemVariation = imageCount == 1 ? 'static' : 'in-slider' %}
{% if image is defined and image %}

<figure class="slider-item slider-item--{{itemVariation}}{% if imageCaption %} slider-item--has-caption{% endif %}">
	{{ macros.thumbnail({
                    image: image,
                    imagerSettings: imagerSettings,
                    altTag: image.title is defined and image.title ? image.title : 'image',
                    additionalClasses: 'slider-item__image'
                }) }}

	{% if imageCaption %}
		<div class="slider-item__caption slider-item__caption--hide">{{ imageCaption }}</div>
	{% endif %}
</figure>

{% endif %}
