<div class="our-impact">
    <div class="container">
        {% if block.heading or block.subHeading %}
            <div class="row">
                <div class="col-lg-12">
                    {% if block.heading %}<h2 class="our-impact__heading">{{ block.heading }}</h2>{% endif %}
                    {% if block.subHeading %}<h4 class="our-impact__subheading">{{ block.subHeading }}</h4>{% endif %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% set statsBlocks = block.impactStats.all() %}
            {% for statsBlock in statsBlocks if statsBlock.type.handle == 'stats' %}
                <div class="col-md-3 our-impact__item">
                    <span class="our-impact__number">{{ craft.yump.formatNumber(statsBlock.number) }}</span>
                    <span class="type">{{statsBlock.text}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
