
{% set authorTitle = block.authorTitle ?? null %}
{% import "_macros" as macros %}

<div class="quote">
	<div class="quote__icon-wrap">
	{{macros.svg({
		name: 'ic-quote-mark',
		attributes: { 'class' : 'quote__icon' }
	})}}
	</div>
	<div class="quote__main-content">
		{{block.summary}}
	</div>
	<div class="quote__subsidiary-content">
		<span class="quote__author">{{block.author}}</span>
		{% if authorTitle %}
		<span class="quote__author-title">{{authorTitle}}</span>
		{% endif %}
	</div>
</div>