{# The following elements / blocks sort of extend rich media, so they share similar structure / css classes. Make sure you manually 'sync' the changes when necessary.
	1. Banner (_elements/banner)
#}

{% import '_macros' as macros %}

{# Check if we have both textColumn and mediaColumn. The CMS is configured to have maximum two blocks (columns), so we won't have situation that having two textColumn or mediaColumn #}
{% set twoColumnsValid = false %}
{% set mediaType = null %}
{% set image = null %}
{% set firstCol = null %}
{# don't allow only 1 column #}
{% if block.children.count() == 2 %}
	{% set hasMediaColumn = false %}
	{% set hasTextColumn = false %}
	{% for column in block.children.all() %}
		{% set columnType = column.type.handle %}
		{% if columnType == 'mediaColumn' %}
			{% set mediaBlock = column.children.one() %}
			{% if mediaBlock %}
				{% set hasMediaColumn = true %}
				{% set mediaType = mediaBlock.type.handle %}
				{% if mediaType == 'image' %}
					{% set image = mediaBlock.image.one() %}
					{% if not image %}
						{# consider invalid if no image is found #}
						{% set hasMediaColumn = false %}
					{% endif %}
				{% endif %}
				{% if not firstCol %}
					{% set firstCol = 'media' %}
				{% endif %}
			{% endif %}
		{% elseif columnType == 'textColumn' %}
			{% set hasTextColumn = true %}
			{% if not firstCol %}
				{% set firstCol = 'text' %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% set twoColumnsValid = hasTextColumn and hasMediaColumn %}
{% endif %}

{% set backgroundStyle = block.backgroundStyle is defined and block.backgroundStyle ? block.backgroundStyle : 'white' %}
{# modifiers are set from the template that loads this one #}
{% set modifier = modifier is defined and modifier ? modifier : backgroundStyle == 'white' ? 'bordered' : 'no-border' %}

{# {% set backgroundStyle = value %} #}
{% set variationClasses = 'rich-media--' ~ modifier ~ ' rich-media--first-col-' ~ firstCol ~ ' rich-media--background-' ~ backgroundStyle %}

{% if twoColumnsValid %}
	<section class="rich-media rich-media--with-{{ mediaType }} {{variationClasses}}">
		<div class="rich-media__row">
			{% for column in block.children.all() %}
				{% set columnType = column.type.handle %}
				{% set childBlock = column.children.one() %}
				{% if columnType == 'mediaColumn' %}
					<div class="rich-media__column rich-media__column--media">
						{% if mediaType == 'image' %}
							<figure class="rich-media__media rich-media__media--image">
								{{ macros.thumbnail({ image: image, imagerSettings: { width: 1600 }, additionalClasses: 'rich-media__img' }) }}
							</figure>
						{# NOTE: NOT CURRENTLY ACTIVE IN BACKEND ON THIS SITE #}
						{% elseif mediaType == 'video' %} 
							<div class="rich-media__media rich-media__media--video">
								{{ macros.video({
								    field: childBlock.video,
								    transcriptEntry: childBlock.videoTranscript.one(),
								    videoHtmlTitle: childBlock.videoHtmlTitle,
								}) }}
							</div>
						{% endif %}
					</div>
				{% elseif columnType == 'textColumn' %}
					<div class="rich-media__column rich-media__column--text">
						<div class="rich-media__text-content-wrap">
							{% if column.heading %}
								<h3 class="rich-media__text-content-heading">{{ column.heading }}</h3>
							{% endif %}

							{% if column.summary %}
								<div class="rich-media__text-content-summary">{{ column.summary }}</div>
							{% endif %}
							{% set button = column.children is defined ? column.children.one() : [] %}
							{% if button %}
								{% set type = backgroundStyle == 'white' ? 'primary' : 'trans-white' %}
								{% set buttonSizeClass = button.buttonStyle is defined and button.buttonStyle ? 'button--' ~ button.buttonStyle : 'button--large' %}
								<div class="rich-media__text-content-ctas">
									{{ macros.cta({
										field: button.cta,
										style: type,
										additionalClasses: 'rich-media__text-content-cta ' ~ buttonSizeClass,
									}) }}
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</section>
{% endif %}
