<div class="two-columns">
    <div class="container">
        <div class="two-columns__row">
            {% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, scope: scope|merge(['twoColumns'])} %}
        </div>
    </div>
</div>
